headless: false
disable restart: false
neuron lock enabled: true
neuron lock hash: fs1f3se5ffsef1sf
mining mode: true
reward address: EZDfZiJcvx1Ymrj8otCeiY4eLfPsZkHri9
engine version: v2
logging level: debug
electrumx servers: [electrum1-mainnet.evrmorecoin.org:50002, evr-electrum.wutup.io:50002]
vault password: password
invited by: EMxw897Kowx2i8c5YALE6jVh5JEpswapYj
server port: 24600
ui port: 24601
