{% block content %}
<div class="row mb-0">
  <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-lightpurple-drastic shadow-dark{% endif %} text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">verified_user</i>
        </div>
        <div class="text-end pt-1">
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Admin</h4>
        </div>
      </div>
      <center>
      <p id='explainVault' class="mb-1 {% if darkmode %}dark-colors{% endif %}"><span class="text-success text-center font-weight-bolder"></span>
        Admin functions are available here.
        <br>
        <br>
      </p>
      <center>
    </div>
  </div>
</div>
{% endblock %}
