{% block content %}
<div class="row mb-4" id="WelcomeMessage">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0  {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('WelcomeMessage').style.display='none';">
        <div class="row">
          <div class="col-lg-12 col-12">
            <i class="material-icons opacity-10 cursor-pointer" style="justify-content: right;display: flex;">close</i>
            <h6 class="text-center {% if darkmode %}dark-colors{% endif %}">Welcome to your Satori Neuron!</h6>
          </div>
        </div>
      </div>
      <div class="card-body pb-3">
        <div class="row">
          <div class="col-lg-12 col-12">
            <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Your Neuron is fully Automated. It subscribes to datastreams, generates predictions and shares those predictions with the rest of the network automatically. So just try to keep it running as much as you can. After a few days it should start generating Satori Tokens.
              <br><br><b>To finish setting up your Satori Neuron please visit the Vault page, set a password, and enable the "Mine-to-Vault" feature.</b> This will secure your tokens, as your Vault is encrypted with your password but your Wallet is not. DO NOT LOSE YOUR PASSWORD. If you lose it you will lose access to your Vault and any tokens within it.
              <br><br>To help Satori grow please share your invite link below. The bigger the network, the better the predictions!
              <br><br>You can also set up your Neuron to be an oracle, providing raw data to the network. Do this by filling out the form on the bottom of this page, under the "Create Oracle Datastream" header.
              <br><br>Feel free to vote on the Vote page, it costs nothing and helps decentralize the control of the network.
              <br><br><b>It can take a few days to start to generate tokens.</b> This is because the Satori Neuron needs to gather and learn the datastreams before it can earn tokens by predicting them. Thank you for your patience.
              <br><br>Lastly, please be aware this software is highly experimental and therefore you <b>use it at your own risk.</b> For more information please read through the following documents, especially the EULA. By using the Satori Neuron you acknowledge and agree to the following:<br>
              <a href="/static/legal/eula.txt" target="_blank">End User License Agreement</a>,
              <a href="/static/legal/privacy-policy.txt" target="_blank">Privacy Policy</a>,
              <a href="/static/legal/terms-of-service.txt" target="_blank">Terms of Service</a>,
              <a href="/static/legal/disclaimer.txt" target="_blank">Disclaimer of Warranties</a>,
              <a href="/static/legal/open.txt" target="_blank">Open Source Notice</a>, and the
              <a href="/static/legal/token.txt" target="_blank">Token Use Policy</a>.
              <br><br>Thank you for being part of the Satori Network!
              <br><br>Namaste
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}




