{% block content %}
<style>
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .card {
    position: relative;
  }
</style>

<div class="row"  id="miningCard" style="display:none;">
  <div class="col-xl-12 col-lg-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}" style="height: 100%;margin-top:20px;" >
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <button class="close-btn" onclick="hideMiningInviteCard()">
          <i class="material-icons {% if darkmode %}dark-text{% endif %}" style="font-size: 24px;">close</i>
        </button>
        <h5 class="text-center {% if darkmode %}dark-colors{% endif %}">Mining Mode</h5>
        <p id="miningModeDetails" class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
          Satori's mission is to bring free and open prediction of the future to everyone. 
          Satori is free to download and use.
          {% if feePaid %}
            To be eligible for prediction rewards a license must be applied to this Neuron. 
            The license fee is 1 SATORI. 
            To pay the fee and apply for a license click the button below.
          {% else %}
            To be eligible for prediction rewards a license must be applied to this Neuron. 
            The license fee is 1 SATORI. 
            To pay the fee and apply for a license click the button below.
          {% endif %}
        </p>
      </div>
      <div class="card-body px-0 pb-2">
        {% if feePaid %}
          {% if miningMode %}
            Mining Mode is currently enabled.
          {% else %}
            Mining Mode is currently disabled.
          {% endif %}
        {% else %}
          {% if holdingBalance >= 1 %}
          
          <div style="text-align:center;" >
            <button class="btn btn-primary {% if darkmode %}dark-colors{% endif %}" style="margin-top:20px;box-shadow: none;" onclick="payFee()">Apply Now</button>
          </div>
          {% else %}
            <p class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
              You need at least 1 SATORI to apply for a license.
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

<script>
  function hideMiningInviteCard() {
    document.getElementById('miningCard').style.display = 'none';
  }
  function showMiningInviteCard() {
    document.getElementById('miningCard').style.display = 'block';
  }

  function payFee() {
    console.log('Fee payment initiated');
  }
</script>
{% endblock %}
