{% block content %}
<div class="row mb-0" style='padding-bottom:1rem;'>
  <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="row" style='padding-left:2rem;padding-right:2rem;'>
        <div class="col-xl-1 col-sm-1 mb-xl-0"></div>
        <div class="col-xl-10 col-sm-10 mb-xl-0">
          <button class="btn btn-link w-100 text-left {% if darkmode %}dark-colors{% endif %}"
                  style="padding-top:1.5rem; text-transform: none;"
                  type="button"
                  data-toggle="collapse"
                  data-target="#inviteCardContent"
                  aria-expanded="false"
                  aria-controls="inviteCardContent">
                  <h4 class="{% if darkmode %}dark-colors{% endif %}">Mining Invite</h4>
          </button>
        </div>
        <div class="col-xl-1 col-sm-1 mb-xl-0">
        </div>
      </div>
      <div id="inviteCardContent" class="collapse show">
        <p class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}" style="margin-left:1rem;margin-right:1rem;">
          If you were invited you can add their address below.<br>
          You can only do this once.
          <br><br>
        </p>
        <div class="row" style='padding-left:2rem;padding-right:2rem; padding-top: .1rem; padding-bottom: 2rem;'>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <center>
              <p id="addInvitedByLabel" class="mb-1 {% if darkmode %}dark-colors{% endif %}" style="padding-top: .25rem;" onClick="toggleRewardAddresses();">
                Invited by:
              </p>
            </center>
          </div>
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <h6 class="mb-0 text-sm  {% if darkmode %}dark-text{% endif %}">
              <div class="d-flex px-3 py-1" style="padding-right: 1rem; margin-left:auto; margin-right: auto;">
                <div class="input-group input-group-outline">
                  <input
                    id="addInvitedBy"
                    name="addInvitedBy"
                    class="tight form-control {% if darkmode %}dark-colors{% endif %}"
                    style="text-align: center;"
                    maxLength="66"
                    placeholder="Enter address"
                    {% if invitedBy %}value="{{ invitedBy }}"{% endif %}
                    {% if invitedBy %}readonly{% endif %}
                    required=""
                    type="text"
                    onKeyPress="checkEnterForInvitedBy(event)">
                </div>
              </div>
            </h6>
          </div>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <p id='addInvitedByConfirmation'></p>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-sm-12 mb-xl-0">
            <p class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
              Help the Satori Network grow.<br>
              The bigger the network, the better the predictions.<br>
              Simply share your invite link to onboard others.<br>
            </p>
            <br>
            <p class="text-sm mb-3 text-center {% if darkmode %}dark-colors{% endif %}" style="margin-left: 10px; margin-right:10px;">
              https://satorinet.io/download/{{ wallet.address }}
            </p>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function checkEnterForInvitedBy(event){
    if (isFocused(document.querySelector('#addInvitedBy'))) {
      document.getElementById("addInvitedByConfirmation").innerHTML = '';
      if (event.key === "Enter" || event.keyCode === 13) {
        console.log('enter detected');
        setInvitedBy();
      }
    }
  }

  function setInvitedBy() {
    address = document.getElementById("addInvitedBy").value;
    fetch('/invited/by/' + address, { method: 'GET' })
    .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
    })
    .then(text => {
      if (text == 'OK') {
        document.getElementById("addInvitedByConfirmation").innerHTML = 'Saved!';
      } else {
        console.log(text);
        document.getElementById("addInvitedByConfirmation").innerHTML = 'Unable to save.';
      }
    }).catch(error => {
      document.getElementById("addInvitedByConfirmation").innerHTML = 'Unable to save.';
      console.error('Error:', error);
    });
  }

</script>
{% endblock %}
