{% block content %}
  <div class="col-xl-3 col-lg-3 col-sm-12 mb-xl-0 mb-4">
    <div class="card  {% if darkmode %}dark-colors{% endif %}" style="height: 200px;">
      <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-lightpurple-drastic shadow-dark{% endif %} text-center border-radius-xl mt-n4 position-absolute" style="width:84px !important;">
          <i class="material-icons opacity-10">wallet<i class="material-icons opacity-10">lock</i></i>
        </div>
        <div class="text-end pt-1" style="display:block;">
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Holdings</h4>
        </div>
        <div class="text-center pt-1" style="padding-top:3rem !important;">
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">{{ holdingBalance }}</h4>
          <p class="text-sm mb-0 text-capitalize {% if darkmode %}dark-colors{% endif %}">SATORI</p>
        </div>
      </div>
      <div class="card-footer p-1">
      </div>
    </div>
  </div>
{% endblock %}