{% block content %}
<div id='CreateDataStream', class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-12 col-12">
            <div class="row">
              <div class="col-lg-10 col-10">
                <h6 class="{% if darkmode %}dark-colors{% endif %}">Create Oracle Datastream</h6>
                <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
                  Fill out the form to published a new primary datastream to the Satori Network
                </p>
              </div>
              <div class="col-lg-2 col-2">
                <div class="row-container">
                  <!--<p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}" style="text-align: end;/* border-bottom: inset; */font-weight: 600;">
                    CSV: 
                  </p>-->
                  <a href="{{ url_for('static', filename='download/satori_datastream_form.csv') }}" target="_blank">
                    <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                      <i class="material-icons {% if darkmode %}dark-text{% endif %}" style="font-size: 28px;">file_download</i>
                    </button>
                  </a>
                  <input class="tight form-control {% if darkmode %}dark-colors{% endif %}" type="file" id="csvDatastreamFile" name="file" accept=".csv" style="display:none;">
                  <button class="btn btn-link text-dark p-0 fixed-plugin-close-button" type="submit" onclick="document.getElementById('csvDatastreamFile').click();">
                    <i class="material-icons {% if darkmode %}dark-text{% endif %}" style="font-size: 28px;">file_upload</i>
                  </button>
                  <script>
                    const fileDatastreamInput = document.getElementById('csvDatastreamFile');
                    fileDatastreamInput.addEventListener('change', () => {
                        const file = fileDatastreamInput.files[0];
                        const formData = new FormData();
                        formData.append('file', file);
                        showWorking();
                        var working_output = document.getElementById("working_message");
                        var working_update = new EventSource("/working_updates");
                        working_update.onmessage = function (e) {
                          console.log(e.data);
                          working_output.innerHTML = e.data;
                        };
                        fetch('/upload_datastream_csv', {
                            method: 'POST',
                            body: formData
                        })
                        .then(response => {
                          console.log(response.status);
                          console.log(response.text);
                          if (response.ok){
                            console.log('show success message?');
                          } else {
                            console.log('show failure message?');
                          }
                          hideWorking();
                          working_update.close();
                          fetch('/working_updates_end', {method: 'GET'});
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                    });
                  </script>
                </div>
              </div>
            </div>
            <div class="pt-3 px-3" style="height:100px;">
              <p id="ErrorArea" class="mb-0 text-sm">
                {% if newRelayStream.errors %}
                <ul class="errors">
                  {% for field, errors in newRelayStream.errors.items() %}
                    <li>
                      {{ field }}
                      {% for error in errors %}
                        <ul class="errors">
                          <li>{{ error }}</li>
                        </ul>
                      {% endfor %}
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </p>
              <p id="helpArea1" class="mb-0 text-sm"></p>
              <p id="helpArea" class="mb-0 text-sm"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div style="padding: 1.25rem;">
          <form action="/register_stream" method="POST">
            {{ newRelayStream.hidden_tag() }}
            {{ newRelayStream.csrf_token }}
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="nameDescription();">
                <div class="tight text-format-table-header">*
                  {{ newRelayStream.name.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="nameDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.name(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="BTC1HR") }}
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="targetDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.target.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="targetDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.target(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="Close") }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="cadenceDescription();">
                <div class="tight text-format-table-header">*
                  {{ newRelayStream.cadence.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="cadenceDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    <span style="font-size: xx-small;display: flex;align-items: center;">days</span>
                    <input type="number" id="dayCadence" name="dayCadence" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=3650 oninput="enforceIntegerValue(this, 0, 3650);calculateCadence();">
                    <span style="font-size: xx-small;display: flex;align-items: center;">hours</span> 
                    <input type="number" id="hourCadence" name="hourCadence" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=24 oninput="enforceIntegerValue(this, 0, 24);calculateCadence();">
                    <span style="font-size: xx-small;display: flex;align-items: center;">minutes</span> 
                    <input type="number" id="minuteCadence" name="minuteCadence" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=60 oninput="enforceIntegerValue(this, 0, 60);calculateCadence();">
                    <span style="font-size: xx-small;display: flex;align-items: center;">seconds</span> 
                    <input type="number" id="secondCadence" name="secondCadence" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=60 oninput="enforceIntegerValue(this, 0, 60);calculateCadence();">
                    {{ newRelayStream.cadence(size=32, class_="tight form-control" +(" dark-colors" if darkmode else ""), placeholder="3600", style="display:none;", id="cadence") }}
                    <script>
                      function enforceIntegerValue(inputField, minimum, maximum) {
                        if (inputField.value < minimum) {
                          inputField.value = minimum;
                        }
                        if (inputField.value > maximum) {
                            inputField.value = maximum;
                        }
                      }
                      function calculateCadence() {
                        const dayCadenceInput = document.getElementById('dayCadence');
                        const hourCadenceInput = document.getElementById('hourCadence');
                        const minuteCadenceInput = document.getElementById('minuteCadence');
                        const secondCadenceInput = document.getElementById('secondCadence');
                        var seconds = (dayCadenceInput.value*24*60*60) + (hourCadenceInput.value*60*60) + (minuteCadenceInput.value*60) + (secondCadenceInput.value*1)
                        if (seconds >= 60) {
                          document.getElementById('cadence').value = seconds;
                        } else {
                          document.getElementById('cadence').value = 60;
                        }
                      }
                      function showCadence() {
                        const dayCadenceInput = document.getElementById('dayCadence');
                        const hourCadenceInput = document.getElementById('hourCadence');
                        const minuteCadenceInput = document.getElementById('minuteCadence');
                        const secondCadenceInput = document.getElementById('secondCadence');
                        var seconds = document.getElementById('cadence').value;
                        const daySeconds = Math.floor(seconds/24/60/60);
                        if (daySeconds > 0) {
                          dayCadenceInput.value = daySeconds;
                          seconds = seconds - (daySeconds*24*60*60);
                        }
                        const hourSeconds = Math.floor(seconds/60/60);
                        if (hourSeconds > 0) {
                          hourCadenceInput.value = hourSeconds;
                          seconds = seconds - (hourSeconds*60*60);
                        }
                        const minuteSeconds = Math.floor(seconds/60);
                        if (minuteSeconds > 0) {
                          minuteCadenceInput.value = minuteSeconds;
                          seconds = seconds - (minuteSeconds*60);
                        }
                        secondCadenceInput.value = seconds;
                      }
                      showCadence();
                    </script>
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="offsetDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.offset.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="offsetDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    <span style="font-size: xx-small;display: flex;align-items: center;">hours</span> 
                    <input type="number" id="hourOffset" name="hourOffset" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=24 oninput="enforceIntegerValue(this, 0, 24);calculateOffset();">
                    <span style="font-size: xx-small;display: flex;align-items: center;">minutes</span> 
                    <input type="number" id="minuteOffset" name="minuteOffset" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=60 oninput="enforceIntegerValue(this, 0, 60);calculateOffset();">
                    <span style="font-size: xx-small;display: flex;align-items: center;">seconds</span> 
                    <input type="number" id="secondOffset" name="secondOffset" class="tight form-control {% if darkmode %}dark-colors{% endif %}" style="margin-left:4px;margin-right:12px;" min=0 max=60 oninput="enforceIntegerValue(this, 0, 60);calculateOffset();">
                    {{ newRelayStream.offset(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="108000", style="display:none;", id="offset") }}
                    <script>
                      function calculateOffset() {
                        const hourOffsetInput = document.getElementById('hourOffset');
                        const minuteOffsetInput = document.getElementById('minuteOffset');
                        const secondOffsetInput = document.getElementById('secondOffset');
                        document.getElementById('offset').value = (hourOffsetInput.value*60*60) + (minuteOffsetInput.value*60) + (secondOffsetInput.value*1);
                      }
                      function showOffset() {
                        const hourOffsetInput = document.getElementById('hourOffset');
                        const minuteOffsetInput = document.getElementById('minuteOffset');
                        const secondOffsetInput = document.getElementById('secondOffset');
                        var seconds = document.getElementById('offset').value;
                        const hourSeconds = Math.floor(seconds/60/60);
                        if (hourSeconds > 0) {
                          hourOffsetInput.value = hourSeconds;
                          seconds = seconds - (hourSeconds*60*60);
                        }
                        const minuteSeconds = Math.floor(seconds/60);
                        if (minuteSeconds > 0) {
                          minuteOffsetInput.value = minuteSeconds;
                          seconds = seconds - (minuteSeconds*60);
                        }
                        secondOffsetInput.value = seconds;
                      }
                      showOffset();
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="urlDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.url.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="urlDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.url(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="https://finance.yahoo.com/bitcoin") }}
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="datatypeDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.datatype.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="datatypeDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.datatype(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="float") }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="uriDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.uri.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="uriDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.uri(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="https://finance.yahoo.com/bitcoin?key=supersecretkey") }}
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="tagsDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.tags.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="tagsDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.tags(size=32, class_="tight form-control"+(" dark-colors" if darkmode else ""), placeholder="bitcoin, 1hr") }}
                  </div>
                </div>
              </div> 
            </div>
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="headersDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.headers.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="headersDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.headers(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="Accept: application/json") }}
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="descriptionDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.description.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="descriptionDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.description(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="Price (OHLC) of Bitcoin at 1 hour intervals, offset from UTC time by 3 hours.") }}
                  </div>
                </div>
              </div>         
            </div>
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="payloadDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.payload.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="payloadDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.payload(size=32, class_="tight form-control" + (" dark-colors" if darkmode else ""), placeholder="Accept: application/json") }}
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="historyUploadDescription();">
                <div class="tight text-format-table-header"><label for="historyUpload" class="{% if darkmode %}dark-colors{% endif %}">History File</label></div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="historyUploadDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    <div class='{% if darkmode %}dark-colors{% else %}{%endif%} tight form-control'>

                      <!--<form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">not needed for input field</form>-->
                      <input class="tight form-control {% if darkmode %}dark-colors{% endif %}" type="file" id="csvHistoryFile" name="file" accept=".csv">
                      <script>
                        //const form = document.getElementById('uploadForm');
                        const historyFileInput = document.getElementById('csvHistoryFile');
                        historyFileInput.addEventListener('change', () => {
                            const file = historyFileInput.files[0];
                            const formData = new FormData();
                            formData.append('file', file);
                            fetch('/upload_history_csv', {
                                method: 'POST',
                                body: formData
                            })
                            .then(response => response.text())
                            .then(data => {
                              console.log(data);  // Optional: Display response from the server
                              if (data == "Successful upload."){
                                var historyCode = document.getElementById('historyCode');
                                historyCode.value = historyCode.value || (
"class GetHistory(object):"+
"\n    '''"+
"\n    supplies the history of the datastream"+
"\n    one observation at a time (getNext, isDone)"+
"\n    or all at once (getAll)"+
"\n    '''"+
"\n"+
"\n    def __init__(self):"+
"\n        super(GetHistory, self).__init__()"+
"\n"+
"\n    def getNext(self):"+
"\n        '''"+
"\n        should return a value or a list of two values,"+
"\n        the first being the time in UTC as a string of the observation,"+
"\n        the second being the observation value"+
"\n        '''"+
"\n        return None"+
"\n"+
"\n    def isDone(self):"+
"\n        ''' returns true when there are no more observations to supply '''"+
"\n        return None"+
"\n"+
"\n    def getAll(self):"+
"\n        ''' "+
"\n        if getAll returns a list or pandas DataFrame"+
"\n        then getNext is never called."+
"\n        csv history sourced from ______"+
"\n        index assumed to be the first column if there are 2"+
"\n        '''"+
"\n        import re"+
"\n        import pandas as pd"+
"\n        import datetime as dt"+
"\n        df = pd.read_csv('/Satori/Neuron/uploaded/history.csv')"+
"\n        # if the csv is just a list of values (oldest should be first)"+
"\n        if len(df.columns) == 1:"+
"\n            now = str(dt.datetime.utcnow())"+
"\n            df.index = [now for _ in range(len(df))]"+
"\n            return df"+
"\n        # if the csv has two columns the first should be a datetime in the format:"+
"\n        # YYYY-MM-DD HH:MM:SS.000000"+
"\n        elif len(df.columns) == 2:"+
"\n            df = pd.read_csv('/Satori/Neuron/uploaded/history.csv', index_col=0)"+
"\n            # if only YYYY-MM-DD are provide, add 0s"+
"\n            if re.search(r'^\d{4}-\d{2}-\d{2}$', df.index[0]):"+
"\n                df.index = [f'{d} 00:00:00.000000' for d in df.index]"+
"\n            df.index.name = None"+
"\n            return df"+
"\n        # otherwise just try to use what is given"+
"\n        return df"+
"\n");
                              }
                            })
                            .catch(error => {
                                console.error('Error:', error);
                            });
                        });
                      </script>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="hookDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.hook.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="hookDescription();" onclick="hookCreation();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.hook(size=32, class_="tight form-control input-tall code-placeholder" + (" dark-colors" if darkmode else ""), placeholder=placeholderPostRequestHook )}}
                  </div>
                </div>
              </div>
              <div class="col-xl-1 col-sm-2 mb-xl-2 mb-2" onmouseover="historyDescription();">
                <div class="tight text-format-table-header">
                  {{ newRelayStream.history.label(class=("dark-colors" if darkmode else "")) }}
                </div>
              </div>
              <div class="col-xl-5 col-sm-4 mb-xl-4 mb-4" onmouseover="historyDescription();">
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {{ newRelayStream.history(size=32, class_="tight form-control input-tall code-placeholder" + (" dark-colors" if darkmode else ""), placeholder=placeholderGetHistory, id="historyCode") }}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-sm-12">
                <div class="d-flex px-3 py-1" style="padding: 1px !important; height: 75px;">
                  <div class="input-group input-group-outline" onclick="">
                    {% if darkmode %}{{ newRelayStream.submit(size=32, class_="tight form-control dark-colors", onclick="if(validateJs()) showWorking();") }}
                    {% else %}{{ newRelayStream.submit(size=32, class_="tight form-control", onclick="if(validateJs()) showWorking();") }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<p id="learn_output"></p>
<p id="learn_output2"></p>
<p id="learn_output3"></p>

<script>
  function shorten(x) {
    if (x.length > 25) {
      return x.substring(0,15) + '...';
    }
    return x;
	}

	function validateJs() {
		/// this validation() method is always false:
		//console.log("{ { newRelayStream.validate() } }");
		//return "{ { newRelayStream.validate() } }" == "True";
		
		/// so we're using js to validate the required fields manually:
		return (
			document.getElementById("name").value != "" && 
			document.getElementById("cadence").value >= 60 && 
			document.getElementById("url").value.startsWith("http") && 
      (document.getElementById("offset").value== '' || document.getElementById("offset").value < 86400)
      // don't require uri, if blank it'll automatically populate from url
			//  && document.getElementById("uri").value.startsWith("http") 
      );
	}
</script>
<script>
	function deleteRelayStream(name, target) {
		console.log('DELETE');
		console.log(name);
		console.log(target);
	}	
</script>
<script>
  function defaultMessage() {
    document.getElementById("helpArea").innerHTML = ""; 
  }
  defaultMessage();
  function nameDescription() {
    document.getElementById("helpArea1").innerHTML = "Name (required)";
    document.getElementById("helpArea").innerHTML = "A name of the datastream. No special Characters allowed.";
  }
  function targetDescription() {
    document.getElementById("helpArea1").innerHTML = "Target";
    document.getElementById("helpArea").innerHTML = "The target, or key of the datastream if that datastream is in the form of a json object with keys and values.";
  }
  function cadenceDescription() {
    document.getElementById("helpArea1").innerHTML = "Cadence (required)";
    document.getElementById("helpArea").innerHTML = "The interval between data points. How often should the endpoint be called and the data collected?";
  }
  function offsetDescription() {
    document.getElementById("helpArea1").innerHTML = "Offset";
    document.getElementById("helpArea").innerHTML = "The offset from UTC time. For example, if the data is collected at 1 hour intervals, and the offset is 3 hours, then the data will be collected at 1 hour intervals starting at 3 hours after midnight UTC.";
  }
  function datatypeDescription() {
    document.getElementById("helpArea1").innerHTML = "Datatype";
    document.getElementById("helpArea").innerHTML = "The datatype of the target, or stream. For example, 'float' or 'int', or even 'json' if the target data is in the form of a json object.";
  }
  function descriptionDescription() {
    document.getElementById("helpArea1").innerHTML = "Description";
    document.getElementById("helpArea").innerHTML = "A short human-readable description of the datastream.";
  }
  function tagsDescription() {
    document.getElementById("helpArea1").innerHTML = "Tags";
    document.getElementById("helpArea").innerHTML = "A list of tags, separated by commas, that describe the datastream.";
  }  
  function urlDescription() {
    document.getElementById("helpArea1").innerHTML = "Url (required)";
    document.getElementById("helpArea").innerHTML = "The base URL of the datastream. For example https://finance.yahoo.com/bitcoin.";
  }  
  function uriDescription() {
    document.getElementById("helpArea1").innerHTML = "Uri (private)";
    document.getElementById("helpArea").innerHTML = "The full URI of the datastream. For example https://finance.yahoo.com/bitcoin?key=supersecretkey.";
  }  
  function headersDescription() {
    document.getElementById("helpArea1").innerHTML = "Headers (private)";
    document.getElementById("helpArea").innerHTML = "The headers of the request.";
  }
  function payloadDescription() {
    document.getElementById("helpArea1").innerHTML = "Payload (private)";
    document.getElementById("helpArea").innerHTML = "The payload of the request.";
  }  
  function hookDescription() {
    document.getElementById("helpArea1").innerHTML = "Hook (private)";
    document.getElementById("helpArea").innerHTML = "A python function that intercepts the response before broadcasting. This can be used to filter the data down to a specific key known as the target. <br />WARNING: Since this code is executed by the interpreter without any security measures, you should know exactly what the code does before you submit this form.";
  }
  function historyUploadDescription() {
    document.getElementById("helpArea1").innerHTML = "History Upload";
    document.getElementById("helpArea").innerHTML = "A CSV file containing two columns: an index of timestamps (in format YYYY-MM-DD HH:MM:SS.000000) and associated values. This upload will get interpreted by the History code below it.";
  }
  function historyDescription() {
    document.getElementById("helpArea1").innerHTML = "History (private)";
    document.getElementById("helpArea").innerHTML = "A python class that gathers the history of this datastream before making the datastream publicly available. <br />NOTE: Gathering the history can take a long time, so if you see a spinner for a long time please be patient. <br />WARNING: Since this code is executed by the interpreter without any security measures, you should know exactly what the code does before you submit this form.";
  } 
  async function hookCreation()  {
    const response = await fetch('http://127.0.0.1:24601/hook/' + document.getElementById("target").value);
    document.getElementById("hook").value = await response.text();
  }
</script>
{% endblock %}