{% block content %}
<style>
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .card {
    position: relative;
  }
</style>

<div class="row"  id="miningCard" style="display:{{miningDisplay}};">
  <div class="col-xl-12 col-lg-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}" style="height: 200px;margin-top:20px;" >
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <button class="close-btn" onclick="hideMiningInviteCard()">
          <i class="material-icons {% if darkmode %}dark-text{% endif %}" style="font-size: 24px;">close</i>
        </button>
        <h5 class="text-center {% if darkmode %}dark-colors{% endif %}">Mining Mode</h5>
        <p id="miningModeDetails" class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
        </p>
      </div>
      <div class="card-body px-0 pb-2">
        <p id="miningModeCard" class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
        </p>
      </div>
    </div>
  </div>
</div>

<script>
  function hideMiningInviteCard() {
    document.getElementById('miningCard').style.display = 'none';
  }
  function showMiningInviteCard() {
    document.getElementById('miningCard').style.display = 'block';
  }

  function payFee() {
    console.log('Fee payment initiated');
  }
</script>
<script>
  function updateMiningCard() {
      /// UPDATE TOS FIRST
      // Update mining mode details based on Ticket status and mining mode
      //var detailsText = "Satori's mission is to bring free and open prediction of the future to everyone. Satori is free to download and use.";
      //if (TicketStatus == "True") {
      //    detailsText += " This Neuron currently Ticketd for Mining Mode. ";
      //    detailsText += miningMode ? "Mining Mode is currently enabled." : "Mining Mode is currently disabled.";
      //    cardBody.innerText = miningMode ? "Mining Mode is currently enabled." : "Mining Mode is currently disabled.";
      //} else {
      //    detailsText += " To enter Mining Mode a Ticket must be applied to this Neuron. The Ticket fee is 1 SATORI and is for the duration of a year. To pay the fee and apply for a Ticket click the button below.";
      //}
      //document.getElementById('miningModeDetails').innerText = detailsText;
      //
      //// Update card body based on Ticket status and holding balance
      //var cardBody = document.getElementById('miningModeCard');
      //if (TicketStatus == "True") {
      //  cardBody.innerText = miningMode ? "Mining Mode is currently enabled." : "Mining Mode is currently disabled.";
      //} else {
      //  cardBody.innerHTML = '{% if holdingBalance >= 1 %}<div style="text-align:center;" ><a href="{{ url_for('applyForTicket') }}"><button class="btn btn-primary {% if darkmode %}dark-colors{% endif %}" style="margin-top:20px;box-shadow: none;" onclick="payFee()">Apply Now</button></a></div>{% else %}You need at least 1 SATORI to apply for a Ticket.{% endif %}';
      //}
      document.getElementById('miningModeDetails').innerText = 'Thank you for your interest in Satori Mining Mode.';
      document.getElementById('miningModeCard').innerText = 'Tickets to join the Satori Network will be available soon.';
  }

  // Call the function to update the card when the page loads
  //document.addEventListener('DOMContentLoaded', updateMiningCard);
</script>

{% endblock %}
