


<!--<footer class="footer py-3 gradient-45deg-xiketic-purple " style="position:fixed;bottom:0;width:inherit;padding-right: 260px; z-index:999; margin-left: -20px;">-->
<footer class="footer py-3 border-0 border-radius-xl my-3 fixed-start bg-gradient-dark{% if darkmode %}-reverse dark-version{% endif %}" style="position:fixed;bottom:0;z-index:999;width:-webkit-fill-available;margin-right:1.5rem;">
  
<!-- indent: style="position:fixed;bottom:0;width:inherit;padding-right:300px;z-index:-999;"-->
  <div class="row">
    <div class="col-xl-3 col-sm-3 col-xs-3 ">
      <a class="border-0 icon icon-lg icon-shape border-radius-xl d-flex align-items-center justify-content-center {{ 'active bg-gradient-primary-reverse' if title=='Dashboard' or title=='Satori' else '' }}" style="margin-left:auto;margin-right:auto;" href="{{ url_for('dashboard') }}" onclick="showWorking();">
        <div class="text-white text-center" style="margin-top:0.5rem;">
          <i class="material-icons opacity-10" title="Dashboard">dashboard</i>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-3 col-xs-3">
      <a class="border-0 icon icon-lg icon-shape border-radius-xl d-flex align-items-center justify-content-center {{ 'active bg-gradient-primary-reverse' if title=='Wallet' else '' }}" style="margin-left:auto;margin-right:auto;" href="{{ url_for('wallet', network='main') }}" onclick="showWorking();">
        <div class="text-white text-center" style="margin-top:0.5rem;">
          <i class="material-icons opacity-10" title="Dashboard">wallet</i>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-3 col-xs-3">
      <a class="border-0 icon icon-lg icon-shape border-radius-xl d-flex align-items-center justify-content-center {{ 'active bg-gradient-primary-reverse' if title=='Vault' else '' }}" style="margin-left:auto;margin-right:auto;" href="{{ url_for('vault') }}" onclick="showWorking();">
        <div class="text-white text-center" style="margin-top:0.5rem;">
          <i class="material-icons opacity-10" title="Dashboard">lock</i>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-sm-3 col-xs-3">
      <a class="border-0 icon icon-lg icon-shape border-radius-xl d-flex align-items-center justify-content-center {{ 'active bg-gradient-primary-reverse' if title=='Vote' else '' }}" style="margin-left:auto;margin-right:auto;" href="{{ url_for('vote') }}" onclick="showWorking();">
        <div class="text-white text-center" style="margin-top:0.5rem;">
          <i class="material-icons opacity-10" title="Dashboard">thumb_up</i>
        </div>
      </a>
    </div>
  </div>
</footer>