

    <!--<footer class="page-footer footer-fixed gradient-45deg-xiketic-purple">
        <div class="footer-copyright">
          <div class="container">
            <span>Satori
              <a class="grey-text text-lighten-2" href="http://satorinet.io" target="_blank"> </a>
              Network</span>
            <span class="right">
              Version
              <a class="grey-text text-lighten-2" href="http://satorinet.io">
                <script type="text/javascript">
                  document.write(new Date().getFullYear());
                </script>
                .1
              </a>
            </span>
          </div>
        </div>
    </footer>-->
    <footer class="footer py-3" style="position:fixed;bottom:0;width:inherit;padding-right: 260px; z-index:-999; margin-left: -20px;">
		<!-- indent: style="position:fixed;bottom:0;width:inherit;padding-right:300px;z-index:-999;"-->
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between" style="margin-right: 55px;">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>
                made with <i class="fa fa-heart"></i> by
                <a href="http://satorinet.io" class="font-weight-bold" target="_blank">The Satori Association</a>
                for a future by design
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-end">
                <li class="nav-item">
                  <a href="https://cpb-us-w2.wpmucdn.com/u.osu.edu/dist/5/25851/files/2016/02/taoteching-Stephen-Mitchell-translation-v9deoq.pdf" class="nav-link text-muted" target="_blank" style='font-style:italic;opacity:.4;'>
                    Let your workings remain a mystery, just show people the results.
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>