
<!-- Navbar -->
<!--class="... position-sticky blur shadow-blur mt-4 left-auto top-1 z-index-sticky"-->
<nav id="top-navbar" class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <!--<li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Dashboard</li>-->
      </ol>
      <h6 id="top-navbar-title" class="{% if darkmode %}dark-text{% endif %} font-weight-bolder mb-0">{{ 'Dashboard' if title == 'Satori' else title }}</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        <!--
        <div class="input-group input-group-outline">
          <label class="form-label">Type here...</label>
          <input type="text" class="form-control">
        </div>
      -->
      </div>
      <ul class="navbar-nav justify-content-end">
        <!--
        <li class="nav-item d-flex align-items-center">
          <a href="./pages/sign-in.html" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Sign In</span>
          </a>
        </li>
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0">
            <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
          </a>
        </li>
        -->
        <li title='Connections Status' style="margin-right:1.25rem">
          <a href="#" title="Wallet connection" class="text-xs p-0" style="font-size: xx-small; -webkit-writing-mode: vertical-lr; padding-bottom: 1px;" onClick="refreshConnectionsStatus('connectionElectrumx')">
            <i id="connectionElectrumx" class="material-icons {% if darkmode %}dark-text{% endif %}" style="color: #548c2f; vertical-align:text-bottom;">circle</i>
          </a>
          <a href="#" title="Central connection" class="text-xs p-0" style="font-size: xx-small; -webkit-writing-mode: vertical-lr; padding-bottom: 1px;" onClick="refreshConnectionsStatus('connectionCentral')">
            <i id="connectionCentral" class="material-icons {% if darkmode %}dark-text{% endif %}" style="color: #548c2f; vertical-align:text-bottom;">circle</i>
          </a>
          <a href="#" title="Pubsub connection" class="text-xs p-0" style="font-size: xx-small; -webkit-writing-mode: vertical-lr; padding-bottom: 1px;" onClick="refreshConnectionsStatus('connectionPubsub')">
            <i id="connectionPubsub" class="material-icons {% if darkmode %}dark-text{% endif %}" style="color: #548c2f; vertical-align:text-bottom;">circle</i>
          </a>
          <!--<a href="#" title="P2P Satori Synergy connection" class="text-xs p-0" style="font-size: xx-small; -webkit-writing-mode: vertical-lr; padding-bottom: 1px;" onClick="refreshConnectionsStatus('connectionSynergy')">
            <i id="connectionSynergy" class="fa fa-circle" style="color: #548c2f;"></i>
          </a>-->
          <!--<a href="{{ url_for('modeLight') }}" title="P2P connection" class="text-xs p-0" style="font-size: xx-small; -webkit-writing-mode: vertical-lr; padding-bottom: 1px;">
            <i id="connectionP2p" class="fa fa-circle" style="color: maroon;"></i>
          </a>-->
        </li>
        <li class="nav-item pe-2 d-flex align-items-center">
          <a href="{{ url_for('restart') }}" class="nav-link text-body p-0">
            <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">power_settings_new</i>
            <span style="font-family: 'Zen Maru Gothic', sans-serif; font-weight: 600; line-height: 1.1; font-size: 1rem; margin-left: 0.1rem; margin-right: 0.1rem;">Restart</span>
          </a>
        </li>

        {% if paused %} <!-- server should tell us if we're paused or not... hit endpoint, refresh page. -->
        <li class="nav-item pe-2 d-flex align-items-center">
          <a href="{{ url_for('unpause') }}" class="nav-link text-body p-0">
            <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">play_arrow</i>
            <span style="font-family: 'Zen Maru Gothic', sans-serif; font-weight: 600; line-height: 1.1; font-size: 1rem; margin-left: 0.1rem; margin-right: 0.1rem;">Unpause</span></a>
        </li>
        {% else %}
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="#" class="nav-link text-body p-0" id="dropdownMenuButtonPause" data-bs-toggle="dropdown" aria-expanded="false">
            <!--<i class="fa fa-play cursor-pointer"></i>-->
            <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">pause</i>
            <span style="font-family: 'Zen Maru Gothic', sans-serif; font-weight: 600; line-height: 1.1; font-size: 1rem; margin-left: 0.1rem; margin-right: 0.1rem;">Pause</span>
          </a>
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButtonPause">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="{{ url_for('pause', timeout='1') }}">
              <div class="d-flex py-1">
                <div class="d-flex flex-column justify-content-center">
                <h6 class="text-sm font-weight-normal mb-1">
                  <span class="font-weight-bold">1</span> hour
                </h6>
                </div>
              </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="{{ url_for('pause', timeout='3') }}">
              <div class="d-flex py-1">
                <div class="d-flex flex-column justify-content-center">
                <h6 class="text-sm font-weight-normal mb-1">
                  <span class="font-weight-bold">3</span> hours
                </h6>
                </div>
              </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="{{ url_for('pause', timeout='8') }}">
              <div class="d-flex py-1">
                <div class="d-flex flex-column justify-content-center">
                <h6 class="text-sm font-weight-normal mb-1">
                  <span class="font-weight-bold">8</span> hours
                </h6>
                </div>
              </div>
              </a>
            </li>
          </ul>
        </li>
        {% endif %}
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="#" class="nav-link text-body p-0" id="dropdownMenuButtonBackup" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">file_download</i>
            <span style="font-family: 'Zen Maru Gothic', sans-serif; font-weight: 600; line-height: 1.1; font-size: 1rem; margin-left: 0.1rem; margin-right: 0.1rem;">Backup</span>
          </a>
          <ul class="dropdown-menu dropdown-menu-end px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButtonBackup">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="{{ url_for('backup', target='wallet') }}">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">Backup Wallet and Vault</span>
                    </h6>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="#" onclick="document.getElementById('import-wallet-input').click();">
                <div class="d-flex py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">Import Wallet</span>
                    </h6>
                  </div>
                </div>
              </a>
              <input id="import-wallet-input" type="file" webkitdirectory directory multiple style="display: none;" onchange="importWallet(this.files)">
            </li>
          </ul>
        </li>
  <!--
        <li class="nav-item dropdown pe-2 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-bell cursor-pointer"></i>
          </a>
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <div class="py-1" style="text-align: center;">
              <div class="d-flex flex-column justify-content-center">
                <h6 class="text-sm font-weight-normal mb-1">
                  <span class="font-weight-bold">Empty</span>
                </h6>
              </div>
            </div>
          </ul>
    -->
          <!--
          <ul class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <img src="{{ url_for('static', filename='img/team-2.jpg') }}" class="avatar avatar-sm  me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">New message</span> from Laur
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      13 minutes ago
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li class="mb-2">
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="my-auto">
                    <img src="{{ url_for('static', filename='img/small-logos/logo-spotify.svg') }}" class="avatar avatar-sm bg-gradient-dark  me-3 ">
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      <span class="font-weight-bold">New album</span> by Travis Scott
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      1 day
                    </p>
                  </div>
                </div>
              </a>
            </li>
            <li>
              <a class="dropdown-item border-radius-md" href="javascript:;">
                <div class="d-flex py-1">
                  <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                    <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>credit-card</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                          <g transform="translate(1716.000000, 291.000000)">
                            <g transform="translate(453.000000, 454.000000)">
                              <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                              <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                            </g>
                          </g>
                        </g>
                      </g>
                    </svg>
                  </div>
                  <div class="d-flex flex-column justify-content-center">
                    <h6 class="text-sm font-weight-normal mb-1">
                      Payment successfully completed
                    </h6>
                    <p class="text-xs text-secondary mb-0">
                      <i class="fa fa-clock me-1"></i>
                      2 days
                    </p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
          -->
        </li>
        {% if lockable %}
          {% if lockEnabled %}
          <li title='Neuron Lock Enabled - Logout' class='hide-on-med-and-down' style="margin-right:.5rem">
              <a href="{{ url_for('lockRelock') }}" class="nav-link text-body p-0" onclick="confirmLogout(event)">
                <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">lock</i>
              </a>
          </li>
          {% else %}
          <li title='Neuron Lock Disabled - Enable' class='hide-on-med-and-down' style="margin-right:.5rem">
            <a href="{{ url_for('lockEnable') }}" class="nav-link text-body p-0" onclick="confirmEnableNeuronLock(event)">
              <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">lock_open</i>
            </a>
          </li>
          {% endif %}
        {% endif %}
        <li title='Dark Mode' class='hide-on-med-and-down' style="margin-left:.5rem;margin-right:.5rem">
          {% if darkmode %}
            <a href="{{ url_for('modeLight') }}" class="nav-link text-body p-0">
              <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">dark_mode</i>
            </a>
          {% else %}
            <a href="{{ url_for('modeDark') }}" class="nav-link text-body p-0">
              <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">light_mode</i>
            </a>
          {% endif %}
        </li>
        <li title='Full Screen' class='hide-on-med-and-down' style="margin-left:.5rem;">
          <a href="javascript:toggleFullScreen();" class="nav-link text-body p-0">
            <i class="material-icons cursor-pointer" style="vertical-align:text-bottom;">fullscreen</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<script>
  function importWallet(files) {
    const walletFolder = Array.from(files).find(file => file.webkitRelativePath.split('/')[0] === 'wallet');
    
    if (!walletFolder) {
      alert('Please select a folder named "wallet".');
      return;
    }
  
    const formData = new FormData();
    Array.from(files).forEach(file => {
      if (file.webkitRelativePath.startsWith('wallet/')) {
        formData.append('files', file, file.webkitRelativePath);
      }
    });
  
    fetch('/import_wallet', {
      method: 'POST',
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        alert('Wallet imported successfully!');
      } else {
        alert('Failed to import wallet: ' + data.message);
      }
    })
    .catch(error => {
      console.error('Error:', error);
      alert('An error occurred while importing the wallet.');
    });
  }
  </script>
<script>
  function confirmEnableNeuronLock(event) {
      if (!confirm("Are you sure you want to enable Neuron Lock?\n(You must know your vault password to get in)")) {
          event.preventDefault();
      }
  }
  function confirmLogout(event) {
    if (!confirm("Are you sure you want to logout?\n(You must know your vault password to get back in).")) {
        event.preventDefault();
    }
}
</script>
<script>
  // Listen for a click on the button
  function toggleDark() {
    // If the OS is set to dark mode...
    if (prefersDarkScheme.matches) {
      // ...then apply the .light-theme class to override those styles
      //document.badge.classList.toggle("light-theme");
      // Otherwise...
    } else {
      // ...apply the .dark-theme class to override the default light styles
      //document.body.classList.toggle("dark-theme");
    }
  }
  var updateConnectionsStatus = new EventSource("/connections-status");
  updateConnectionsStatus.onmessage = function (e) {
    if (e.data == "close") {
      updateConnectionsStatus.close();
    } else if (e.data == "redundantCall") {
      console.log('redundantCalled');
    } else {
      let conns = JSON.parse(e.data);
      if (conns.electrumx) {
        document.getElementById("connectionElectrumx").style.color = '#548c2f';
      } else {
        document.getElementById("connectionElectrumx").style.color = 'maroon';
      }
      if (conns.central) {
        document.getElementById("connectionCentral").style.color = '#548c2f';
      } else {
        document.getElementById("connectionCentral").style.color = 'maroon';
      }
      if (conns.pubsub) {
        document.getElementById("connectionPubsub").style.color = '#548c2f';
      } else {
        document.getElementById("connectionPubsub").style.color = 'maroon';
      }
      if (conns.synergy) {
        document.getElementById("connectionSynergy").style.color = '#548c2f';
      } else {
        document.getElementById("connectionSynergy").style.color = 'maroon';
      }
      //if (conns.p2p) {
      //  document.getElementById("connectionP2p").style.color = '#548c2f';
      //} else {
      //  document.getElementById("connectionP2p").style.color = 'maroon';
      //}
    }
  };
  function refreshConnectionsStatus(connectionId) {
    document.getElementById(connectionId).style.color = 'grey';

      fetch('/connections-status/refresh', {
        method: 'GET',
      }).then(response => {
        console.log('Connection Statuses Refreshed:');
        console.log(response.text);
      }).catch(error => console.error('Error:', error));
    }
</script>

    <!-- End Navbar -->
