<aside class="{% if darkmode %}dark-version{% else %}{% endif %} sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark{% if darkmode %}-reverse{% endif %}" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="{{ url_for('dashboard') }}" target="_blank">
      <span class="text-white" title="{{v}}">
        Sat<img src="{{ url_for('static', filename='img/ensodarkclear.png') }}" width="30" style='margin-right: 0.2rem;'>ri
      </span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main" style="height: fit-content;">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Dashboard' or title=='Satori' else '' }}" href="{{ url_for('dashboard') }}" onclick="showWorking();">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">dashboard</i>
          </div>
          <span class="nav-link-text ms-1">Dashboard</span>
        </a>
      </li>
      {% if title=='Dashboard' or title=='Satori' %}
      <li class='sub-nav-item'>
        <a href='#' onclick="scrollOrJumpTo('top-navbar-title');">Balance</a>
      </li>
      <li class='sub-nav-item'>
        <a href='#' onclick="scrollOrJumpTo('predictionsbr');">Prediction</a>
      </li>
        {% if relayStreams|length > 0 %}
      <li class='sub-nav-item'>
        <a href='#' onclick="scrollOrJumpTo('oraclesbr');">Oracle</a>
      </li>
        {% endif %}
      <li class='sub-nav-item'>
        <a href='#' onclick="scrollOrJumpTo('createbr');">Create</a>
      </li>
      {% endif %}

	    <!--heading not necessary
	    <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8"></h6>
      </li>-->
      <!--
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Wallet' else '' }}" href="{{ url_for('wallet', network='main') }}" onclick="showWorking();">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">wallet</i>
          </div>
          <span class="nav-link-text ms-1">Wallet</span>
        </a>
      </li>-->

      <!--<li class="nav-item sidenav-dropdown-chevron">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Wallet' else '' }}" href="{{ url_for('wallet', network='main') }}">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="d-flex align-items-center">
              <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                <i class="material-icons opacity-10">wallet</i>
              </div>
              <span class="nav-link-text">Wallet</span>
            </div>
          </div>
        </a>
        <div class="sidenav-dropdown-content">
          <a href="{{ url_for('wallet', network='main') }}" onclick="showWorking();">Main</a>
          <a href="{{ url_for('wallet', network='test') }}" onclick="showWorking();">Test</a>
        </div>
        </li>-->
      {% if wallet.balance > 0 %}
        <li class="nav-item sidenav-dropdown-chevron">
          <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Wallet' else '' }}" href="#" onclick="toggleDropdown(event);">
            <div class="d-flex justify-content-between align-items-center w-100">
              <div id='urlWalletMain' style='display:none;'>{{ url_for('wallet', network='main') }}</div>
              <div id='gotoWalletMain' class="d-flex align-items-center" style='z-index:2;'>
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
                  <i class="material-icons opacity-10">wallet</i>
                </div>
                <span class="nav-link-text">Wallet</span>
              </div>
              <i class="material-icons opacity-10">expand_more</i>
            </div>
          </a>
          <div class="sidenav-dropdown-content">
            <a href="{{ url_for('wallet', network='main') }}" onclick="showWorking();">Mainnet</a>
            <a href="{{ url_for('wallet', network='test') }}" onclick="showWorking();">Testnet</a>
          </div>
        </li>
        {% if title=='Wallet' %}
        <li class='sub-nav-item'>
          <a href='#' onclick="scrollOrJumpTo('top-navbar-title');">Balance</a>
        </li>
        <li class='sub-nav-item'>
          <a href='#' onclick="scrollOrJumpTo('aliasbr');">Alias</a>
        </li>
        <!--{ if vaultIsSetup }
        <li class='sub-nav-item'>
          <a href='#' onclick="scrollOrJumpTo('walletlockbr');">Lock</a>
        </li>
          { endif }-->
        <li class='sub-nav-item'>
          <a href='#' onclick="scrollOrJumpTo('historybr');">Transaction History</a>
        </li>
        <li class='sub-nav-item'>
          <a href='#' onclick="scrollOrJumpTo('metadatabr');">Metadata</a>
        </li>
        {% endif %}
      {% endif %}
      <script>
        document.getElementById('gotoWalletMain').addEventListener(
          'click',
          function(event) {
            window.location.href =document.getElementById('urlWalletMain').innerHTML;
            showWorking();
          });

        function toggleDropdown(event) {
          event.stopPropagation();
          var dropdownContent = event.currentTarget.nextElementSibling;
          dropdownContent.classList.toggle("sidenav-show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.sidenav-dropdown-chevron, .sidenav-dropdown-chevron *')) {
            var dropdowns = document.getElementsByClassName("sidenav-dropdown-content");
            for (var i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('sidenav-show')) {
                openDropdown.classList.remove('sidenav-show');
              }
            }
          }
        }
      </script>


      <!-- this will be a page that shows all our predictions and all our subscriptions and what feeds which.
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Predictions' else '' }}" href="{{ url_for('dashboard') }}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">table_view</i>
          </div>
          <span class="nav-link-text ms-1">Predictions</span>
        </a>
      </li>
      -->
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Vault' else '' }}" href="{{ url_for('vault') }}" onclick="showWorking();">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">lock</i>
          </div>
          <span class="nav-link-text ms-1">Vault</span>
        </a>
      </li>
      {% if title=='Vault' or title=='Wallet' %}
        {% if vaultOpened %}
          <li class='sub-nav-item'>
            <a href='#' onclick="scrollOrJumpTo('vaultwarningbr');">Warning</a>
          </li>
          <li class='sub-nav-item'>
            <a href='#' onclick="scrollOrJumpTo('rewardbr');">Reward Address</a>
          </li>
          <li class='sub-nav-item'>
            <a href='#' onclick="scrollOrJumpTo('balancebr');">Balance</a>
          </li>
          <li class='sub-nav-item'>
            <a href='#' onclick="scrollOrJumpTo('historybr');">Transaction History</a>
          </li>
          <li class='sub-nav-item'>
            <a href='#' onclick="scrollOrJumpTo('metadatabr');">Metadata</a>
          </li>
          <li class='sub-nav-item'>
            <a href='#' onclick="scrollOrJumpTo('ethvaultbr');">Ethereum Address</a>
          </li>
        {% else %}
          {% if wallet.balance == 0 %}
            <li class="sub-nav-item" >
              <a href="{{ url_for('wallet', network='main') }}" onclick="showWorking();" class="{{ 'active bg-gradient-primary-reverse' if title=='Wallet' else '' }}">
                <i class="material-icons opacity-10" style="padding-right: 8px;">wallet</i>
                <span class="nav-link-text">Wallet</span>
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Vote' else '' }}" href="{{ url_for('vote') }}" onclick="showWorking();">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">thumb_up</i>
          </div>
          <span class="nav-link-text ms-1">Vote</span>
        </a>
      </li>
      {% if title=='Vote' %}
      <li class='sub-nav-item'>
        <a href='#' onclick="scrollOrJumpTo('manifestbr');">Minting Manifest</a>
      </li>
      <li class='sub-nav-item'>
        <a href='#' onclick="scrollOrJumpTo('streamsbr');">Stream Approval</a>
      </li>
      {% endif %}

      <!-- CHAT - not necessary at this time
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Chat' else '' }}" href="{{ url_for('chatPage') }}" onclick="showWorking();">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">chat_bubble</i>
          </div>
          <span class="nav-link-text ms-1">Chat</span>
        </a>
      </li>
      -->
      <!--UNUSED FOR NOW
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Configuration' else '' }}" href="{{ url_for('editConfiguration') }}" onclick="showWorking();">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">settings</i>
          </div>
          <span class="nav-link-text ms-1">Configuration</span>
        </a>
      </li>-->
	  <!-- hiding profile and notifications until they're needed
      <li class="nav-item mt-3">
        <h6 class="ps-4 ms-2 text-uppercase text-xs text-white font-weight-bolder opacity-8">Account</h6>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Profile' else '' }}" href="{{ url_for('dashboard') }}">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">person</i>
          </div>
          <span class="nav-link-text ms-1">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Notifications' else '' }}" href="./pages/notifications.html">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">notifications</i>
          </div>
          <span class="nav-link-text ms-1">Notifications</span>
        </a>
      </li>-->
      <!--
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Login' else '' }}" href="./pages/sign-in.html">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">login</i>
          </div>
          <span class="nav-link-text ms-1">Login</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white {{ 'active bg-gradient-primary-reverse' if title=='Sign Up' else '' }}" href="./pages/sign-up.html">
          <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
            <i class="material-icons opacity-10">assignment</i>
          </div>
          <span class="nav-link-text ms-1">Sign Up</span>
        </a>
      </li>
      -->
    </ul>
  </div>
  <div class="sidenav-footer position-absolute w-100 bottom-0 ">
    <div class="mx-3" style="text-align: end;">
      <p style="color: #875677;">{{ version }}{% if env != 'prod' %} ({{ env }}){% endif %}</p>
    </div>
  </div>
  <!--
-->
</aside>
