{% block content %}
<div class="row mb-0" style='padding-bottom:1rem;'>
  <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="row" style='padding-left:2rem;padding-right:2rem;'>
        <div class="col-xl-12 col-sm-12 mb-xl-0">
          <button class="btn btn-link w-100 text-left {% if darkmode %}dark-colors{% endif %}" 
                  style="padding-top:1.5rem;" 
                  type="button" 
                  data-toggle="collapse" 
                  data-target="#vaultCardContent" 
                  aria-expanded="false" 
                  aria-controls="vaultCardContent">
                  <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Mine-to-Vault</h4>
          </button>
        </div>
      </div>
      <div id="vaultCardContent" class="collapse">
        <div class="row" style='padding-left:2rem;padding-right:2rem;'>
          <div class="col-xl-9 col-sm-9 mb-xl-0">
            <p class="mb-1 {% if darkmode %}dark-colors{% endif %} text-center" style='padding-top:0rem;'></span>
              Your vault is more secure than your wallet
          </div>
          <div class="col-xl-3 col-sm-3 mb-xl-0" style='margin-top:.5rem;'>
            <div class="text-center pt-1">
              
            </div>
          </div>
        </div>
        <div class="row" style='padding-left:2rem;padding-right:2rem;'>
          <div class="col-xl-9 col-sm-9 mb-xl-0 mb-4 mb-1 {% if darkmode %}dark-colors{% endif %} text-center">
              <p style='padding-top:2rem;'>
                Check the box to automatically mine to your vault rather than your wallet
              </br>
              </br>
              </p>
          </div>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <center>
              <style>
                input::placeholder {
                  color: #ADB5BD;
                }
              </style>
              <input id="minetovaultCheckbox" type="checkbox" class="tight {% if darkmode %}dark-colors{% endif %}" style="height: 36px;width: 36px;opacity: .4;margin-left: 6px;" onclick="minetovaultDescription();enableDisableMinetovault('{{network}}');"{% if minedtovault %}checked{% endif %}>
              <p id='minetovaultToggle' class="mb-1 text-center {% if darkmode %}dark-colors{% endif %}"><span class="text-success text-sm font-weight-bolder"></span>{% if minedtovault %}ENABLED{% else %}NOT ENABLED{% endif %}</p>
            </center>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="row" style='padding-left:2rem;padding-right:2rem;'>
          <div class="col-xl-9 col-sm-9 mb-xl-0">
            <p class="text-sm mb-2 {% if darkmode %}dark-colors{% endif %} text-center"><span class="text-success text-sm font-weight-bolder"></span>
              <i>Enabling this feature will mine SATORI tokens directly to your vault.</i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function getMineToVaultStatus() {
    fetch('/mine_to_vault/status', { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
      }).then(text => {
        console.log(text);
        if (text == 'True') {
          document.getElementById("minetovaultCheckbox").checked = true;
        } else {
          document.getElementById("minetovaultCheckbox").checked = false;
        }
        minetovaultDescription()
      })
      .catch(error => console.error('Error:', error));
  }
  function reportVault() {
    fetch('/vault/report', { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
      }).then(text => {
        console.log(text);
      })
      .catch(error => console.error('Error:', error));
  }
  document.addEventListener('DOMContentLoaded', (event) => {
    getMineToVaultStatus();
    reportVault();
  });
  function enableDisableMinetovault(network) {
    if (document.getElementById("minetovaultCheckbox").checked){
      enableMinetovault(network);
    } else {
      disableMinetovault(network);
    }
  }
  function enableMinetovault(network) {
    fetch('/mine_to_vault/enable/' + network, { method: 'GET' })
    .then(response => {
        if (response.ok) {
            console.log("MineToVault enabled");
            document.getElementById("minetovaultCheckbox").checked = true;
            minetovaultDescription();
        }
    })
    .catch(error => console.error('Error:', error));
  }
  function disableMinetovault(network) {
    fetch('/mine_to_vault/disable/' + network, { method: 'GET' })
    .then(response => {
        if (response.ok) {
            console.log("MineToVault disabled");
            document.getElementById("minetovaultCheckbox").checked = false;
            minetovaultDescription();
        }
    })
    .catch(error => console.error('Error:', error));
  }
  function minetovaultDescription() {
    if (document.getElementById("minetovaultCheckbox").checked){
      document.getElementById("minetovaultToggle").innerHTML = "ENABLED";
    } else {
      document.getElementById("minetovaultToggle").innerHTML = "NOT ENABLED";
    }
  }
  //document.addEventListener('DOMContentLoaded', function() {
  //  var elems = document.querySelectorAll('.switch');
  //  var instances = M.Switch.init(elems, options);
  //});
</script>
{% endblock %}




