{% block content %}
<div class="row">
  <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="row" style='padding-left:2rem;padding-right:2rem;'>
        <div class="col-xl-12 col-sm-12 mb-xl-0">
          <button class="btn btn-link w-100 text-left {% if darkmode %}dark-colors{% endif %}"
                  style="padding-top:1.5rem; text-transform: none;"
                  type="button"
                  data-toggle="collapse"
                  data-target="#vaultCardContent"
                  aria-expanded="false"
                  aria-controls="vaultCardContent">
                  <h4 class="{% if darkmode %}dark-colors{% endif %}">Reward Address</h4>
          </button>
        </div>
      </div>
      <div id="vaultCardContent" class="collapse show">
        <p id='explainRewardAddress' class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
          Mine directly to your vault or any other address by pasting it here.
          <br><br>
        </p>
        <div class="row"  style='padding-left:2rem;padding-right:2rem; padding-top: .1rem; padding-bottom: 2rem;'>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <center>
              <p class="mb-1 {% if darkmode %}dark-colors{% endif %}", style="padding-top: .25rem;">
                Mine to Address:
              </p>
            <center>
          </div>
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <h6 class="mb-0 text-sm  {% if darkmode %}dark-text{% endif %}">
              <div class="d-flex px-3 py-1" style="padding-right: 1rem; margin-left:auto; margin-right: auto;">
                <div class="input-group input-group-outline">
                  <input
                    id="minigReward"
                    name="minigReward"
                    placeholder="{{ wallet.address }}"
                    value="{{ proxyParent }}"
                    class="tight form-control {% if darkmode %}dark-colors{% endif %}"
                    style="text-align: center;"
                    maxlength="34"
                    min="34"
                    required=""
                    size="34"
                    type="text"
                    onclick="focusedForRewardAddress(this)"
                    onfocus="focusedForRewardAddress(this)"
                    onfocusout="defocused(this)"
                    onkeypress="checkEnterForRewardAddress(event)">
                </div>
              </div>
            </h6>
          </div>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <p id='minigRewardConfirmation'></p>
          </div>
        </div>
        <div id='myDelegate'>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function focusedForRewardAddress(thing){
    focus(thing);
    console.log(thing.value);
    if (thing.value == '') {
      thing.value = '{{ wallet.address }}';
    }
  }
  function checkEnterForRewardAddress(event){
    if (event.key === "Enter" || event.keyCode === 13) {
      console.log('enter detected');
      setRewardAddress();
    }
  }
  function reportVault() {
    fetch('/vault/report', { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
      }).then(text => {
        console.log(text);
      }).catch(error => console.error('Error:', error));
  }
  function getMineToAddressStatus() {
    console.log('getMineToAddressStatus');
    return fetch('/mining/to/address', { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
      }).then(text => {
        console.log('getMineToAddressStatus...');
        console.log(text);
        document.getElementById("minigReward").value = text;
        return text;
      }).catch(error => console.error('Error:', error));
    }
    function getMyDelegate() {
      fetch('/delegate/get', { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
      }).then(text => {
        console.log(text);
        if (text == '') {
          document.getElementById("myDelegate").innerHTML = '';
        } else {
          document.getElementById('myDelegate').innerHTML = `
          <div class="row" style='padding-left:2rem;padding-right:2rem; padding-top: .1rem; padding-bottom: 2rem;'>
            <div class="col-xl-3 col-sm-3 mb-xl-0">
              <center>
                <p class="mb-1 {% if darkmode %}dark-colors{% endif %}", style="padding-top: .25rem;">
                  My Delegate:
                </p>
              <center>
            </div>
            <div class="col-xl-6 col-sm-6 mb-xl-0 text-center">
              <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">
                <div class="d-flex justify-content-center px-3 py-1" style="padding-right: 1rem; margin: 0 auto;">
                  <p class="mb-1 {% if darkmode %}dark-colors{% endif %}" style="padding-top: .25rem;color: grey;">
                    ${text}
                  </p>
                </div>
              </h6>
            </div>
            <div class="col-xl-3 col-sm-3 mb-xl-0">
              <h6 class="mb-0 text-lg" title="remove" style="margin-left: 1rem; margin-right:1rem;">
                <a href="#" onclick="removeDelegate()">
                  <button class="btn btn-link text-dark fixed-plugin-close-button">
                    <i class="material-icons" style="font-size: 24px;">clear</i>
                  </button>
                </a>
              </h6>
            </div>
          </div>
          `;
        }
      }).catch(error => console.error('Error:', error));
    }
    document.addEventListener('DOMContentLoaded', (event) => {
      reportVault();
      getMineToAddressStatus().then(text => {
        //if (document.getElementById("minigReward").value == '')
        if (text == '') {
          document.getElementById("minigReward").value = '{{ wallet.address }}';
          setRewardAddress();
        }
      });
      getMyDelegate();

    });
    function setRewardAddress() {
      address = document.getElementById("minigReward").value;
      fetch('/mine/to/address/' + address, { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      if (text == 'OK') {
        document.getElementById("minigRewardConfirmation").innerHTML = 'Saved!';
      } else {
        document.getElementById("minigRewardConfirmation").innerHTML = 'Unable to save.';
      }
    }).catch(error => {
      document.getElementById("minigRewardConfirmation").innerHTML = 'Unable to save.';
      console.error('Error:', error);
    });
  }
  function removeDelegate() {
    fetch('/delegate/remove', { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      if (text == 'OK') {
        document.getElementById("myDelegate").innerHTML = '';
      }
    }).catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}
