{% extends "basic.html" %}
{% block content %}
{% include 'vault-overlay.html' %}

<div id="vaultwarningbr">
  {% include 'vault-warning.html' %}
</div>
<br id="minetovaultbr">
{% include 'vault-minetovault.html' %}
<br id='balancebr'>
{% include 'wallet-functions.html' %}
<!-- put voting template here -->
<br id="historybr">
{% include 'wallet-history.html' %}
<br id="autosecurebr">
{% include 'vault-autosecure.html' %}

{% if vaultOpened %}
  <br id="metadatabr">
  {% include 'wallet-meta.html' %}
  <br id="ethvaultbr">
  {% include 'vault-eth.html' %}
{% endif %}

{% endblock %}




