{% block content %}

<style>
  .custom-checkbox input[type="checkbox"] {
    display: none;
  }

  .custom-checkbox label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .custom-checkbox label:before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid #a2a6aa; /* Match your theme */
    border-radius: 4px;
    display: inline-block;
    margin-right: 8px;
    background: white;
  }

  .custom-checkbox input[type="checkbox"]:checked + label:before {
    content: "✔"; /* Add a check mark */
    color: #ffa726; /* Match your theme */
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div id="bridge-for-testing" class="row mb-0" style='padding-bottom:1rem;display:none;'><br id="bridgebr">
  <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="row" style='padding-left:2rem;padding-right:2rem;'>
        <div class="col-xl-1 col-sm-1 mb-xl-0"></div>
        <div class="col-xl-10 col-sm-10 mb-xl-0">
          <button class="btn btn-link w-100 text-left {% if darkmode %}dark-colors{% endif %}"
                  style="padding-top:1.5rem; text-transform: none;"
                  type="button"
                  data-toggle="collapse"
                  data-target="#bridgeContent"
                  aria-expanded="true"
                  aria-controls="bridgeContent">
                  <h4 class="{% if darkmode %}dark-colors{% endif %}">Bridge To Base</h4>
          </button>
        </div>
        <div class="col-xl-1 col-sm-1 mb-xl-0">
          <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-lightpurple-drastic shadow-dark{% endif %} text-center border-radius-xl position-absolute" style="margin-top: -1rem !important;">
            <i class="material-icons opacity-10">whatshot</i>
          </div>
        </div>
      </div>
      <div id="bridgeContent" class="collapse hide">
        <div style="padding-left: 2.5rem; padding-right:2.5rem;">
          <p class="test-sm">How to bridge SATORI from Evrmore to Base:
            <br> • <b>Burn</b>: This SATORI will be burned forever.
            <br> • <b>Wait</b>: The bridging process can take up to an hour, waiting for confirmations.
            <br> • <b>Verify</b>: The same amount of SATORI will be minted directly to the address provided on Base.
            <br>Please don't send large amounts. <b>THIS ACTION WILL BURN SATORI.</b> Use at your own risk.
          </p>
        </div>
        <div style="padding: 1.25rem;">
          <form action="/bridge_satori_transaction_from_{{ title|lower }}/{{ network }}" method="POST">
            {{ bridgeSatoriTransaction.hidden_tag() }}
            {{ bridgeSatoriTransaction.csrf_token }}
            <div class="tight text-format-table-header" style="text-align: left;">
              {% if darkmode %}{{ bridgeSatoriTransaction.ethAddress.label(class="dark-colors tight-label") }}
              {% else %}{{ bridgeSatoriTransaction.ethAddress.label(class="tight-label") }}
              {% endif %}
            </div>
            <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 1.5rem;">
              <div class="input-group input-group-outline">
                {% if darkmode %}{{ bridgeSatoriTransaction.ethAddress(size=32, class_="tight form-control dark-colors", placeholder=ethAddress, value=ethAddress, readonly=true, title="You must bridge to your own address.") }}
                {% else %}{{ bridgeSatoriTransaction.ethAddress(size=32, class_="tight form-control", placeholder=ethAddress, value=ethAddress, readonly=true, title="You must bridge to your own address.") }}
                {% endif %}
              </div>
            </div>
            <div class="row" style="padding: 1px !important; margin-bottom: 2rem;">
              <div class="col-xl-12 col-sm-12">
                <div class="tight text-format-table-header" style="text-align: left;">
                  {% if darkmode %}{{ bridgeSatoriTransaction.bridgeAmount.label(class="dark-colors tight-label") }}
                  {% else %}{{ bridgeSatoriTransaction.bridgeAmount.label(class="tight-label") }}
                  {% endif %}
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                  <div class="input-group input-group-outline">
                    {% if darkmode %}{{ bridgeSatoriTransaction.bridgeAmount(size=32, class_="tight form-control dark-colors", placeholder=wallet.balance.amount) }}
                    {% else %}{{ bridgeSatoriTransaction.bridgeAmount(size=32, class_="tight form-control", placeholder=wallet.balance.amount) }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <!--div class="form-check mb-3"-->
              <!--input type="checkbox" class="form-check-input" id="acceptBridgeTOS" onchange="toggleBridgeSubmitButton()"-->
            <div class="custom-checkbox mb-3">
              <input type="checkbox" id="acceptBridgeTOS" onchange="toggleBridgeSubmitButton()">
              <label for="acceptBridgeTOS" class="form-check-label {% if darkmode %}dark-colors{% endif %}">
                I accept the <a href="http://195.26.255.217/legal/user-agreement" target="_blank" style="padding-left:5px;"> user agreement</a>,
                <a href="http://195.26.255.217/legal/privacy-policy" target="_blank" style="padding-left:5px;"> privacy policy</a>, and
                <a href="http://195.26.255.217/legal/risk-disclosure" target="_blank" style="padding-left:5px;"> risk disclosure</a>.
              </label>
              <p id="acceptBridgeTOSDescription" class="text-sm mb-1 {% if darkmode %}dark-colors{% endif %}" style="margin-left:2rem; margin-right:2rem;color:red;"></p>
            </div>
            <div class="d-flex px-3 py-1" style="padding: 1px !important; height: 75px;">
              <div class="input-group input-group-outline" onclick="showWorking();">
                {% if darkmode %}{{ bridgeSatoriTransaction.bridgeSubmit(size=32, class_="tight form-control dark-colors", onclick="if(validateBridgeJs() && confirmationBridge()) showWorking();", disabled=true) }}
                {% else %}{{ bridgeSatoriTransaction.bridgeSubmit(size=32, class_="tight form-control", onclick="if(validateBridgeJs() && confirmationBridge()) showWorking();", disabled=true) }}
                {% endif %}
              </div>
            </div>
          </form>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-1">
          <center>
            <p class="text-sm mb-1 {% if darkmode %}dark-colors{% endif %}" style="margin-left:2rem; margin-right:2rem;"><span class="text-success text-sm font-weight-bolder"></span>
              Transaction fees will be paid during the send process. They typically amount to no more than 0.25 {% if network=='main' %}EVR{% else %}RVN{% endif %}. If there isn't enough EVR available the transaction fee will be {{ ('%.8f' | format(wallet.mundoFee)).rstrip('0').rstrip('.') }} SATORI.<br><br>
              A fee of {{ ('%.8f' | format(wallet.bridgeFee)).rstrip('0').rstrip('.') }} SATORI is charged for this transaction.<br><br>
              powered by BurnBridge
            </p>
          </center>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function toggleBridgeSubmitButton() {
    const submitButton = document.getElementById("bridgeSubmit");
    const acceptBridge = document.getElementById("acceptBridgeTOS");
    acceptBridgeTOS()
      .then(isAccepted => {
        if (isAccepted) {
          submitButton.disabled = !acceptBridge.checked;
        } else {
          acceptBridge.checked = false;
        }
      })
      .catch(error => {
        console.error("Error validating TOS acceptance:", error);
        acceptBridge.checked = false;
      });
  }
  function acceptBridgeTOS() {
    return fetch('/bridge/accept-tos', { method: 'GET' })
      .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          return response.text().then(errorMessage => {
            throw new Error(errorMessage || 'Network response was not ok.');
          });
        }
      }).then(text => {
        if (text == 'OK') {
          return true;
        } else if (text == 'FAIL') {
          return false;
        }
        document.getElementById("acceptBridgeTOSDescription").innerHTML = text;
        return false;
      }).catch(error => {
        console.error('Error:', error);
        return false;
      });
  }

	function validateBridgeJs() {
		return (
      document.getElementById("ethAddress").value.startsWith("0x") &&
      document.getElementById("ethAddress").value.length === 42 &&
      document.getElementById("ethAddress").value == "{{ ethAddress }}" &&
			document.getElementById("bridgeAmount").value > 0 &&
      document.getElementById("bridgeAmount").value <= 100);
	}

  function confirmationBridge() {
		return confirm("Are you sure? This action WILL BURN SATORI, comes with no guarantees, and cannot be undone.");
	}

  function enforceDivisibility() {
    const inputElement = document.getElementById("bridgeAmount");
    const divisibility = Number(8);
    if (divisibility > 0 && inputElement.value.indexOf('.') > -1){
      inputElement.value = truncateNumber(inputElement.value, divisibility);
      var newCursorPosition = inputElement.value.length;
      inputElement.type = 'text';
      inputElement.setSelectionRange(newCursorPosition, newCursorPosition);
      inputElement.type = 'number';
    }
	}
  function truncateNumber(value, decimalPlaces) {
    const valueAsString = value.toString();
    const pointIndex = valueAsString.indexOf('.');
    if (pointIndex === -1) {
        return Number(valueAsString); // No decimal point
    }
    if (decimalPlaces <= 0 && pointIndex === 0) {
        return Number(valueAsString.slice(0, pointIndex)); // Truncate all decimal places
    }
    const truncationIndex = pointIndex + 1 + decimalPlaces;
    const truncatedValue = valueAsString.slice(0, truncationIndex);
    return Number(truncatedValue);
  }

</script>
{% endblock %}
