{% extends "basic.html" %}
{% block content %}
  {% if vaultOpened %}
    <div id="vaultwarningbr">
      {% include 'vault-warning.html' %}
    </div>
    <br id="rewardbr">
    {% include 'vault-reward.html' %}
    <br id="stakebr">
    {% include 'vault-stake.html' %}
    <br id='balancebr'>
    {% include 'wallet-functions.html' %}
    <!-- put voting template here -->
    <br id="historybr">
    {% include 'wallet-history.html' %}
    <br id="metadatabr">
    {% include 'wallet-meta.html' %}
    <br id="ethvaultbr">
    {% include 'vault-eth.html' %}
    {% include 'footer-on-front.html' %}
  {% else %}
    {% include 'vault-lock.html' %}
  {% endif %}
{% endblock %}
