{% block content %}
<div class="row mb-0" style="margin-top:2rem;">
  <div class="col-xl-12 col-sm-12">
    <div class="card {% if darkmode %}dark-colors{% endif %}" style="min-height:760.5px;display: flex;flex-direction: column;">
      <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}" style='flex: 1;'>
        <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-lightpurple-drastic shadow-dark{% endif %} text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">whatshot</i>
        </div>
        <div class="text-end pt-1">
          <!--<h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Send</h4>-->
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}" style="padding-bottom: 2rem !important;">Bridge Satori {%if wallet.isTestnet %} (testnet) {%endif%}</h4>
        </div>
        <div class="pt-1" style="padding-top: 3rem !important;">
          <p class="test-sm">Use this to bridge Satori from the Evrmore blockchain to Ethereum. How the bridge works:
            <br> • The SATORI that is bridged gets burned and can never be retrieved by anyone.
            <br> • Burning the Evrmore SATORI triggers a smart contract on Ethereum to mint SATORI of the same amount (minus the gas fees) directly to the Ethereum address provided.
            <br> • The bridging process can take up to 2 hours to ensure there are no double spends.
            <br>Please send small amounts. THIS ACTION WILL BURN SATORI. Use at your own risk.</p>
            <div style="padding: 1.25rem;">
              <form action="/bridge_satori_transaction_from_{{ title|lower }}/{{ network }}" method="POST">
                {{ bridgeSatoriTransaction.hidden_tag() }}
                {{ bridgeSatoriTransaction.csrf_token }}
                <div class="tight text-format-table-header" style="text-align: left;">
                  {% if darkmode %}{{ bridgeSatoriTransaction.ethAddress.label(class="dark-colors tight-label") }}
                  {% else %}{{ bridgeSatoriTransaction.ethAddress.label(class="tight-label") }}
                  {% endif %}
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 1.5rem;">
                  <div class="input-group input-group-outline">
                    {% if darkmode %}{{ bridgeSatoriTransaction.ethAddress(size=32, class_="tight form-control dark-colors", placeholder=ethAddress, value=ethAddress) }}
                    {% else %}{{ bridgeSatoriTransaction.ethAddress(size=32, class_="tight form-control", placeholder=ethAddress, value=ethAddress) }}
                    {% endif %}
                  </div>
                </div>
                <div class="row" style="padding: 1px !important; margin-bottom: 2rem;">
                  <div class="col-xl-12 col-sm-12">
                    <div class="tight text-format-table-header" style="text-align: left;">
                      {% if darkmode %}{{ bridgeSatoriTransaction.bridgeAmount.label(class="dark-colors tight-label") }}
                      {% else %}{{ bridgeSatoriTransaction.bridgeAmount.label(class="tight-label") }}
                      {% endif %}
                    </div>
                    <div class="d-flex px-3 py-1" style="padding: 1px !important;">
                      <div class="input-group input-group-outline">
                        {% if darkmode %}{{ bridgeSatoriTransaction.bridgeAmount(size=32, class_="tight form-control dark-colors", placeholder=wallet.balanceAmount, onkeypress="return Number(document.getElementById('walletDivisibility').innerHTML) == 0 ? /\d/.test(event.key) : true;") }}
                        {% else %}{{ bridgeSatoriTransaction.bridgeAmount(size=32, class_="tight form-control", placeholder=wallet.balanceAmount, onkeypress="return Number(document.getElementById('walletDivisibility').innerHTML) == 0 ? /\d/.test(event.key) : true;") }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important; height: 75px;">
                  <div class="input-group input-group-outline" onclick="">
                    {% if darkmode %}{{ bridgeSatoriTransaction.bridgeSubmit(size=32, class_="tight form-control dark-colors", onclick="if(validateJs()) showWorking();") }}
                    {% else %}{{ bridgeSatoriTransaction.bridgeSubmit(size=32, class_="tight form-control", onclick="if(validateJs()) showWorking();") }}
                    {% endif %}
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-1">
        <center><p class="text-sm mb-1 {% if darkmode %}dark-colors{% endif %}" style="margin-left:2rem; margin-right:2rem;"><span class="text-success text-sm font-weight-bolder"></span>
          The Bridge Fee must cover ethereum gas fees and is {{ '%.8f' | format(wallet.bridgeFee) }} SATORI.<br><br>
          Transaction fees will be added during the send process. If {% if network=='main' %}Evrmore{% else %}Ravencoin{% endif %} is available the transaction fee will be no more than the required reserves of 0.25 {% if network=='main' %}EVR{% else %}RVN{% endif %}, often much less. If there is not more than .25 EVR in the wallet the transaction fee will be {{ '%.8f' | format(wallet.mundoFee) }} SATORI. For more details and control download then import your private key or seedwords into a fully featured wallet such as <a href='https://moontree.com/'>Moontree</a> or <a href='https://github.com/EvrmoreOrg/electrum-evrmore/releases'>the Electrum-Evrmore wallet</a>.</p></center>
      </div>
    </div>
  </div>
</div>
<script>
	function validateJs() {
		return (
			document.getElementById("ethAddress").value != "" &&
      document.getElementById("ethAddress").value.startsWith("0x") &&
			document.getElementById("bridgeAmount").value > 0);
	}
  function enforceDivisibility() {
    const inputElement = document.getElementById("bridgeAmount");
    const divisibility = Number(8);
    if (divisibility > 0 && inputElement.value.indexOf('.') > -1){
      inputElement.value = truncateNumber(inputElement.value, divisibility);
      var newCursorPosition = inputElement.value.length;
      inputElement.type = 'text';
      inputElement.setSelectionRange(newCursorPosition, newCursorPosition);
      inputElement.type = 'number';
    }
	}
  function truncateNumber(value, decimalPlaces) {
    const valueAsString = value.toString();
    const pointIndex = valueAsString.indexOf('.');
    if (pointIndex === -1) {
        return Number(valueAsString); // No decimal point
    }
    if (decimalPlaces <= 0 && pointIndex === 0) {
        return Number(valueAsString.slice(0, pointIndex)); // Truncate all decimal places
    }
    const truncationIndex = pointIndex + 1 + decimalPlaces;
    const truncatedValue = valueAsString.slice(0, truncationIndex);
    return Number(truncatedValue);
  }
</script>
{% endblock %}
