{% block content %}
<div class="{% if darkmode %}overlayBlack{% else %}overlayWhite{% endif %}" style="z-index: 9999 !important; left:0px; background: {% if darkmode %}#212529 !important;{% else %}#f0f2f5 !important;{% endif %} display: {% if vaultOpened %}none{% else %}block{% endif %};">
  <div class="container-for-center vertical-center" style="padding-left: 0px;">
    <div class="tight">
      <div class="row mb-4">
        <center>
          <div class="col-xl-10 col-sm-10 mb-xl-4 mb-4">
            <form action="/vault" method="POST">
              {{ vaultPasswordForm.hidden_tag() }}
              {{ vaultPasswordForm.csrf_token }}
              <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 1.5rem;">
                <div class="input-group input-group-outline">
                  {% if darkmode %}{{ vaultPasswordForm.password(size=32, style_="text-align: center; border: 2px solid #F9ED4E;", class_="tight form-control dark-colors", placeholder="", autofocus=True) }}
                  {% else %}{{ vaultPasswordForm.password(size=32, style_="text-align: center; border: 2px solid #10051D;", class_="tight form-control", placeholder="", autofocus=True) }}
                  {% endif %}
                </div>
              </div>
              <div class="d-flex px-3 py-1" style="padding: 1px !important; height: 75px; display: none;">
                <div class="input-group input-group-outline">
                  {% if darkmode %}{{ vaultPasswordForm.submit(size=32, style_="display:none;", class_="tight form-control dark-colors", onclick="if(validateVaultPassword()) showWorking();") }}
                  {% else %}{{ vaultPasswordForm.submit(size=32, style_="display:none;", class_="tight form-control", onclick="if(validateVaultPassword()) showWorking();") }}
                  {% endif %}
                </div>
              </div>
            </form>
            <!--<input 
            style="text-align: center;"
            class="tight form-control input-tall code-placeholder {% if darkmode %}dark-colors{% endif %}",
            type="password" id="passwordInput" placeholder="Enter your password" />-->
          </div>
        </center>
      </div>
    </div>
  </div>
</div>
<script>
  window.onload = function() {
    document.getElementById("password").focus();
  };
  function validateVaultPassword() {
    return document.getElementById("password").value.length > 7;
  }
</script>
{% endblock %}