{% block content %}
<div class="row mb-0" style='padding-bottom:1rem;'>
  <div class="col-xl-12 col-sm-12 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="row" style='padding-left:2rem;padding-right:2rem;'>
        <div class="col-xl-12 col-sm-12 mb-xl-0">
          <button class="btn btn-link w-100 text-left {% if darkmode %}dark-colors{% endif %}"
                  style="padding-top:1.5rem; text-transform: none;"
                  type="button"
                  data-toggle="collapse"
                  data-target="#delegateCardContent"
                  aria-expanded="false"
                  aria-controls="delegateCardContent">
                  <h4 class="{% if darkmode %}dark-colors{% endif %}">Delegate Staking</h4>
          </button>
        </div>
      </div>
      <div id="delegateCardContent" class="collapse show">
        <p class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}">
          A Satori Neuron Delegate is a Neuron that receives the rewards of, and holds the staking requirement for, one or more remote Neurons.
          <br><br>
          This Neuron acts as a delegate to the following remote Satori Neurons:
          <br><br>
        </p>
        <div class="row mb-4"  style='padding-left:2rem;padding-right:2rem;'>
          <p id='delegateStakeTable' class="text-sm mb-0 text-center {% if darkmode %}dark-colors{% endif %}"></p>
        </div>
        <div class="row"  style='padding-left:2rem;padding-right:2rem; padding-top: .1rem; padding-bottom: 2rem;'>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <center>
              <p class="mb-1 {% if darkmode %}dark-colors{% endif %}", style="padding-top: .25rem;">
                Stake for Address:
              </p>
            <center>
          </div>
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <h6 class="mb-0 text-sm  {% if darkmode %}dark-text{% endif %}">
              <div class="d-flex px-3 py-1" style="padding-right: 1rem; margin-left:auto; margin-right: auto;">
                <div class="input-group input-group-outline">
                  <input
                    id="addStakingAddress"
                    name="addStakingAddress"
                    class="tight form-control {% if darkmode %}dark-colors{% endif %}"
                    style="text-align: center;"
                    maxlength="34"
                    min="34"
                    required=""
                    size="34"
                    type="text"
                    onkeypress="checkEnterForStakingAddress(event)">
                </div>
              </div>
            </h6>
          </div>
          <div class="col-xl-3 col-sm-3 mb-xl-0">
            <p id='addStakingAddressConfirmation'></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function checkEnterForStakingAddress(event){
    if (event.key === "Enter" || event.keyCode === 13) {
      console.log('enter detected');
      setStakingAddress();
    }
  }
  function setStakingAddress() {
    address = document.getElementById("addStakingAddress").value;
    fetch('/stake/for/address/' + address, { method: 'GET' })
    .then(response => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error('Network response was not ok.');
        }
    })
    .then(text => {
      if (text == 'OK') {
        document.getElementById("addStakingAddressConfirmation").innerHTML = 'Saved!';
        getProxyParentStatus();
      } else {
        document.getElementById("addStakingAddressConfirmation").innerHTML = 'Unable to save.';
      }
    }).catch(error => {
      document.getElementById("addStakingAddressConfirmation").innerHTML = 'Unable to save.';
      console.error('Error:', error);
    });
  }
  function getProxyParentStatus() {
    fetch('/proxy/parent/status', { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      let parsedData = JSON.parse(text);
      if (parsedData.length > 0) {
        createTable(text);
      }
    }).catch(error => console.error('Error:', error));
  }
  document.addEventListener('DOMContentLoaded', (event) => {
    getProxyParentStatus();
  });
  function createTable(text) {
    // example text '[{
    //   "parent": 1234,
    //   "child": 5678,
    //   "charity": 0,
    //   "address": "EJzhjaTUDmRBRrBk7QhWn8ZWEzEwWBLbcy",
    //   "name": "alias",
    //   "reward": 0.11532413,
    //   "ts": "2024-08-16 02:25:00.575062+00:00",
    //   "deleted": "2024-08-16 02:25:00.575062+00:00"}]'
    let data = JSON.parse(text);
    // Initialize the table HTML
    let tableHTML = `
      <div class="table-responsive" style="padding-left:1rem;padding-right:1rem;">
        <table id="delegateChildren" class="table align-items-center mb-0">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="the alias or address of the remote Neuron">Remote Neuron</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="the rewards most recently earned by the remote Neuron">Reward</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="the amount of stake this delegate Neuron is providing the remote Neuron. Can take up to 24 day to update.">Stake</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="the remote Neuron is or is not pointing its reward to this Neuron">Pointed</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="stake the remote Neuron regardless of their chosen reward address">Charity</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="remove staking for the remote Neuron">Remove</th>
            </tr>
          </thead>
        <tbody>
    `;
    let totalCount = 0;
    let totalReward = 0;
    let totalStake = 0;
    // Iterate over each item in the JSON array
    data.forEach(item => {
        // Determine the alias (use empty string if not provided)
        let alias = item.name ? item.name : item.address;
        let pointed = item.pointed == 1 ? 'Yes' : 'No';
        let satori = item.child_satori ? parseFloat(item.child_satori) : 0;
        let proxy = item.child_proxy ? parseFloat(item.child_proxy) : (satori >= 5 ? 0: 5); // Convert proxy to float
        let reward = parseFloat(item.reward); // Convert reward to float
        totalCount += 1;
        totalReward += isNaN(reward) ? 0 : reward; // Add reward, ensure NaN doesn't get added
        totalStake += isNaN(proxy) ? 0 : proxy;    // Add proxy, ensure NaN doesn't get added
        // Construct the table row for each item
        tableHTML += `
          <tr id="childRow${item.child}" class="yellow-hover">
            <td>
              <div class="py-1">
                <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="${item.address}">${alias}</h6>
              </div>
            </td>
        `;
        tableHTML += `
            <td>
              <div class="py-1" style="display: inline-flex;">
                <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="most recent">${item.reward}</h6>
              </div>
            </td>
        `;
        tableHTML += `
            <td>
              <div class="py-1" style="display: inline-flex;">
                <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="most recent">${proxy}</h6>
              </div>
            </td>
        `;
        tableHTML += `
            <td>
              <div class="py-1" style="display: inline-flex;">
                <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="pointing rewards to delegate?">${pointed}</h6>
              </div>
            </td>
        `;
        tableHTML += `
            <td>
              <div class="py-1" style="display: inline-flex;">
        `;
        if (item.charity == 0) {
          tableHTML += `
              <h6 id="charityChildButton${item.child}" class="mb-0 text-lg" title="requiring rewards for stake" style="margin-left: 1rem; margin-right:1rem;">
                <a href="#" onclick="charityProxyChild('${item.address}', '${item.child}')">
                  <button class="btn btn-link {% if darkmode %}dark-colors{% else %}text-dark{% endif %} p-0 fixed-plugin-close-button">
                    <i class="material-icons" style="font-size: 24px;">remove</i>
                  </button>
                </a>
              </h6>
          `;
        } else {
          tableHTML += `
              <h6 id="charityNotChildButton${item.child}" class="mb-0 text-lg" title="giving stake without rewards" style="margin-left: 1rem; margin-right:1rem;">
                <a href="#" onclick="charityNotProxyChild('${item.address}', '${item.child}')">
                  <button class="btn btn-link {% if darkmode %}dark-colors{% else %}text-dark{% endif %} p-0 fixed-plugin-close-button">
                    <i class="material-icons" style="font-size: 24px;">check</i>
                  </button>
                </a>
              </h6>
          `;
        }
        tableHTML += `
              </div>
            </td>
        `;
        tableHTML += `
            <td>
              <div class="py-1" style="display: inline-flex;">
        `;
        // If the item has a 'deleted' timestamp, add the approve button
        if (typeof item.deleted === 'string') {
            tableHTML += `
                <h6 id="approveChildButton${item.child}" class="mb-0 text-lg" title="approve" style="margin-left: 1rem; margin-right:1rem;">
                  <a href="#" onclick="approveProxyChild('${item.address}', '${item.child}')">
                    <button class="btn btn-link {% if darkmode %}dark-colors{% else %}text-dark{% endif %} p-0 fixed-plugin-close-button">
                      <i class="material-icons" style="font-size: 24px;">check</i>
                    </button>
                  </a>
                </h6>
            `;
            // remove button
            tableHTML += `
                    <h6 class="mb-0 text-lg" title="remove" style="margin-left: 1rem; margin-right:1rem;">
                      <a href="#" onclick="removeProxyChild('${item.address}', '${item.child}')">
                          <button class="btn btn-link {% if darkmode %}dark-colors{% else %}text-dark{% endif %} p-0 fixed-plugin-close-button">
                          <i class="material-icons" style="font-size: 24px;">clear</i>
                        </button>
                      </a>
                    </h6>
                  </div>
                </td>
              </tr>
            `;
          } else {
            // deny
            //tableHTML += `
            //        <h6 class="mb-0 text-lg" title="deny" style="margin-left: 1rem; margin-right:1rem;">
            //          <a href="#" onclick="denyProxyChild('${item.address}', '${item.child}')">
            //            <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            //              <i class="material-icons" style="font-size: 24px;">clear</i>
            //            </button>
            //          </a>
            //        </h6>
            //      </div>
            //    </td>
            //  </tr>
            //`;
            // remove button
            tableHTML += `
                    <h6 class="mb-0 text-lg" title="remove" style="margin-left: 1rem; margin-right:1rem;">
                      <a href="#" onclick="removeProxyChild('${item.address}', '${item.child}')">
                          <button class="btn btn-link {% if darkmode %}dark-colors{% else %}text-dark{% endif %} p-0 fixed-plugin-close-button">
                          <i class="material-icons" style="font-size: 24px;">clear</i>
                        </button>
                      </a>
                    </h6>
                  </div>
                </td>
              </tr>
            `;
        }
    });
    // Close the table and div tags
    tableHTML += `
      <tr class="yellow-hover">
        <td>
          <div class="py-1">
            <h6 class="mb-0 text-sm text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="how many Neurons this delegate stakes for">Total Neuron Count</h6>
          </div>
        </td>
    `;
    tableHTML += `
        <td>
          <div class="py-1" style="display: inline-flex;">
            <h6 class="mb-0 text-sm text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="total most recent reward">Total Reward</h6>
          </div>
        </td>
    `;
    tableHTML += `
        <td>
          <div class="py-1" style="display: inline-flex;">
            <h6 class="mb-0 text-sm text-uppercase text-secondary text-xxs font-weight-bolder opacity-7" title="total most recent stake used">Total Stake Used</h6>
          </div>
        </td>
    `;
    tableHTML += `
      <tr class="yellow-hover">
        <td>
          <div class="py-1">
            <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="how many Neurons this delegate stakes for" style="font-weight: bold;">${totalCount}</h6>
          </div>
        </td>
    `;
    tableHTML += `
        <td>
          <div class="py-1" style="display: inline-flex;">
            <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="total most recent reward" style="font-weight: bold;">${totalReward}</h6>
          </div>
        </td>
    `;
    tableHTML += `
        <td>
          <div class="py-1" style="display: inline-flex;">
            <h6 class="mb-0 text-sm {% if darkmode %}dark-colors{% endif %}" title="total most recent stake used" style="font-weight: bold;">${totalStake}</h6>
          </div>
        </td>
    `;

    tableHTML += `
          </tbody>
        </table>
      </div>
    `;
    // Set the innerHTML of the specified element
    document.getElementById('delegateStakeTable').innerHTML = tableHTML;
  }
  function charityProxyChild(address, child) {
    fetch('/proxy/child/charity/'+address+'/'+child, { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      document.getElementById('charityChildButton'+child).style.display = 'none';
    })
    .catch(error => console.error('Error:', error));
  }
  function charityNotProxyChild(address, child) {
    fetch('/proxy/child/no_charity/'+address+'/'+child, { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      document.getElementById('charityNotChildButton'+child).style.display = 'none';
    })
    .catch(error => console.error('Error:', error));
  }

  function approveProxyChild(address, child) {
    fetch('/proxy/child/approve/'+address+'/'+child, { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      document.getElementById('approveChildButton'+child).style.display = 'none';
    })
    .catch(error => console.error('Error:', error));
  }
  function removeProxyChild(address, child) {
    fetch('/proxy/child/remove/'+address+'/'+child, { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      document.getElementById('childRow'+child).style.display = 'none';
    })
    .catch(error => console.error('Error:', error));
  }
  function denyProxyChild(address, child) {
    fetch('/proxy/child/deny/'+address+'/'+child, { method: 'GET' })
    .then(response => {
      if (response.ok) {
        return response.text();
      } else {
        throw new Error('Network response was not ok.');
      }
    }).then(text => {
      console.log(text);
      document.getElementById('childRow'+child).style.display = 'none';
    })
    .catch(error => console.error('Error:', error));
  }
</script>
{% endblock %}
