{% block content %}
<div class="row mb-0">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">Transaction History</h6>
            <!--<p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Transaction history for this wallet
            </p>-->
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive" style="padding-left:1rem;padding-right:1rem;">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 {% if darkmode %}dark-colors{% endif %}">Transaction Id</th>
              </tr>
            </thead>
            <tbody>
              {% if wallet.transactionHistory %}
                {% for transaction in wallet.transactionHistory|reverse %}
                  {% if loop.index <= 3 %}
                <tr class='yellow-hover'>
                  <td>
                    <a href="https://{{ 'evr' if wallet.chain == 'Evrmore' else 'rvn' }}.cryptoscope.io/tx/?txid={{ transaction.tx_hash }}", target='_blank'>
                      <div class="d-flex px-3 py-1">
                        <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">{{ counter }} {{ transaction.tx_hash }}</h6>
                      </div>
                    </a>
                  </td>
                </tr> 
                  {% endif %}
                {% endfor %}
                <tr class='yellow-hover'>
                  <td>
                    <a href="https://{{ 'evr' if wallet.chain == 'Evrmore' else 'rvn' }}.cryptoscope.io/address/?address={{ wallet.address }}", target='_blank'>
                      <div class="d-flex px-3 py-1">
                        <h6 class="mb-0 text-sm text-center {% if darkmode %}dark-text{% endif %}">See All Transactions</h6>
                      </div>
                    </a>
                  </td>
                </tr> 
              {% else %}
              <tr>
                <td>
                  <p style='text-align:center;'>
                  No Transactions
                  </p>
                </td>
              </tr> 
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}




