{% block content %}
  <div class="row">
    <div class="col-xl-12 col-sm-12 mb-xl-0">
      <div class="card {% if darkmode %}dark-colors{% endif %}">
        <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        </div>
        <div class="row mb-4">
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <center>
              <p class="mb-1 {% if darkmode %}dark-colors{% endif %}", style="padding-top: .25rem;">
                Neuron Delegate:
              </p>
            <center>
          </div>
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <h6 class="mb-0 text-sm  {% if darkmode %}dark-text{% endif %}">
              <div class="d-flex px-3 py-1" style="padding-right: 1rem; margin-left:auto; margin-right: auto;">
                <div class="input-group input-group-outline">
                  <input 
                    id="walletProxy" 
                    name="walletProxy" 
                    placeholder="" 
                    value="{{ proxyParent }}" 
                    class="tight form-control {% if darkmode %}dark-colors{% endif %}" 
                    style="text-align: center;" 
                    maxlength="34" 
                    min="34" 
                    required="" 
                    size="34" 
                    type="text" 
                    onfocus="focused(this)" 
                    onfocusout="defocused(this)" 
                    onkeypress="checkEnter(event)"
                    {% if proxyParent is not none and proxyParent != '' %}disabled{% endif %}>
                </div>
              </div>
            </h6>
          </div>
        </div>
        <p id='explainProxy' class="mb-1 {% if darkmode %}dark-colors{% endif %}", style="text-align: center;">
          Enter the wallet address of the delegate for this Neuron. This action cannot be undone.
          <br><br>
          A Neuron delegate is different Neuron (presumably one kept in a very secure environment) which holds the staking responsibility and receives the rewards for this Neuron.
        </p>
      </div>
    </div>
  </div>
  <script>
    function checkEnter(event){
      if (event.key === "Enter" || event.keyCode === 13) {
        console.log('enter detected');
        updateProxy();
      }
    }
    function updateProxy(){
      if ("{{ proxyParent is none or proxyParent == '' }}" === "True"){
        let address = document.getElementById('walletProxy').value;
        console.log("updating wallet proxy")
        if (address != ''){
          fetch(
            '/stake/proxy/request/' + address,
            { method: 'GET' })
          .then(response => {
            if (response.ok) {
              console.log("wallet proxy updated!");
            }
          })
          .catch(error => console.error('Error:', error));
        }
      }
    }
  </script>
{% endblock %}
