{% block content %}
<div id='walletDivisibility' style='display:none;'>{{ wallet.divisibility }}</div>
<div class="row mb-4">
  <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <a href="https://rvn.cryptoscope.io/address/?address={{ wallet.address }}", target='_blank'>
        <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
          <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-lightpurple-drastic shadow-drastic{% endif %} text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">{{walletIcon}}</i>
          </div>
          <div class="text-end pt-1">
            <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">{%if wallet.isTestnet %}Test {%endif%}{{title}}</h4>
          </div>
          <div class="text-center pt-1">
            <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">{{ wallet.balanceAmount }}</h4>
            <p class="text-sm mb-0 text-capitalize {% if darkmode %}dark-colors{% endif %}">SATORI</p>{%if wallet.isTestnet %}<p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">(testnet)</p>{%endif%}
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-1">
          <p class="mb-0 {% if darkmode %}dark-colors{% endif %}" style="text-align:center;"><span class="font-weight-normal">{{ wallet.currencyAmount }} </span>{{ wallet.chain }}</p>
        </div>
        <hr class="dark horizontal my-0">
        <center>
          {{image|safe}}
        </center>
      </a>
      <center>
        <br/>
        <div id='walletAddress'>{{ wallet.address }}</div>
        <p class="text-sm mb-3 {% if darkmode %}dark-colors{% endif %}">wallet address</p>
      </center>
      <hr class="dark horizontal my-3">
      <center>
        <p id="showKey" class="cursor-pointer danger text-sm mb-2 {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('sensitiveKey').style.display='block';document.getElementById('showKey').style.display='none';">
          Show private key and seed words
        </p>
        <div id="sensitiveKey" style="display: none;">
          <p class="cursor-pointer text-sm mb-2 {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('showKey').style.display='block';document.getElementById('sensitiveKey').style.display='none';">Hide private key and seed words</p>
          PRIVATE KEY:<br>{{ wallet.privateKey }}
          <br>
          <br>
          SEED WORDS:<br>{{ wallet.words }}
        </div>
      </center>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-lightpurple-drastic shadow-drastic{% endif %} text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">send</i>
        </div>
        <div class="text-end pt-1">
          <!--<h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Send</h4>-->
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}" style="padding-bottom: 2rem !important;">Send Satori {%if wallet.isTestnet %} (testnet) {%endif%}</h4>
        </div>
        <div class="text-center pt-1" style="padding-top: 4rem !important;padding-bottom: 4rem !important;">
            <div style="padding: 1.25rem;">
              <form action="/send_satori_transaction_from_{{ title|lower }}/{{ network }}" method="POST">
                {{ sendSatoriTransaction.hidden_tag() }}
                {{ sendSatoriTransaction.csrf_token }}
                <div class="tight text-format-table-header" style="text-align: left;">
                  {% if darkmode %}{{ sendSatoriTransaction.address.label(class="dark-colors tight-label") }}
                  {% else %}{{ sendSatoriTransaction.address.label(class="tight-label") }}
                  {% endif %}
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 1.5rem;">
                  <div class="input-group input-group-outline">
                    {% if darkmode %}{{ sendSatoriTransaction.address(size=32, class_="tight form-control dark-colors", placeholder=wallet.address) }}
                    {% else %}{{ sendSatoriTransaction.address(size=32, class_="tight form-control", placeholder=wallet.address) }}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-sm-6">
                    <div class="tight text-format-table-header" style="text-align: left;">
                      {% if darkmode %}{{ sendSatoriTransaction.amount.label(class="dark-colors tight-label") }}
                      {% else %}{{ sendSatoriTransaction.amount.label(class="tight-label") }}
                      {% endif %}
                    </div>
                    <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 4rem;">
                      <div class="input-group input-group-outline">
                        {% if darkmode %}{{ sendSatoriTransaction.amount(size=32, class_="tight form-control dark-colors", placeholder=wallet.balanceAmount, onkeypress="return Number(document.getElementById('walletDivisibility').innerHTML) == 0 ? /\d/.test(event.key) : true;", oninput="enforceDivisibility();") }}
                        {% else %}{{ sendSatoriTransaction.amount(size=32, class_="tight form-control", placeholder=wallet.balanceAmount, onkeypress="return Number(document.getElementById('walletDivisibility').innerHTML) == 0 ? /\d/.test(event.key) : true;", oninput="enforceDivisibility();") }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-6 ">
                    <div class="tight text-format-table-header" style="text-align: left;">
                      {% if darkmode %}{{ sendSatoriTransaction.sweep.label(class="dark-colors tight-label") }}
                      {% else %}{{ sendSatoriTransaction.sweep.label(class="tight-label") }}
                      {% endif %}
                    </div>
                    <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 4rem;">
                      <div class="input-group input-group-outline">
                        {% if darkmode %}{{ sendSatoriTransaction.sweep(size=32, class_="tight dark-colors", style="height: 36px;width: 36px;opacity: .4;margin-left: 6px;", onClick="sweepEverything();") }}
                        {% else %}{{ sendSatoriTransaction.sweep(size=32, class_="tight", style="height: 36px;width: 36px;opacity: .4;margin-left: 6px;", onClick="sweepEverything();") }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important; height: 75px;">
                  <div class="input-group input-group-outline" onclick="">
                    {% if darkmode %}{{ sendSatoriTransaction.submit(size=32, class_="tight form-control dark-colors", onclick="if(validateJs()) showWorking();") }}
                    {% else %}{{ sendSatoriTransaction.submit(size=32, class_="tight form-control", onclick="if(validateJs()) showWorking();") }}
                    {% endif %}
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-1">
        <center><p class="mb-1 {% if darkmode %}dark-colors{% endif %}" style="margin-left:1rem; margin-right:1rem;"><span class="text-success text-sm font-weight-bolder"></span>
          Transaction fees will be added during the send process. For more details and control download and import your private key into a full-featured wallet such as <a href='https://moontree.com/'>Moontree</a></p></center>
      </div>
    </div>
  </div>
</div>
<script>
	function validateJs() {
		return (
			document.getElementById("address").value != "" && 
      document.getElementById("address").value.startsWith(document.getElementById("walletAddress").innerHTML[0]) && 
      document.getElementById("address").value.length == document.getElementById("walletAddress").innerHTML.length && 
			(document.getElementById("amount").value > 0 || document.getElementById("sweep").checked));
	}
  function sweepEverything() {
    if (document.getElementById('sweep').checked) {
      document.getElementById('amount').style.display = 'none';
    } else {
      document.getElementById('amount').style.display = '';
    }
	}
  function enforceDivisibility() {
    const inputElement = document.getElementById("amount");
    const divisibility = Number(document.getElementById("walletDivisibility").innerHTML);
    if (divisibility > 0 && inputElement.value.indexOf('.') > -1){
      inputElement.value = truncateNumber(inputElement.value, divisibility);
      var newCursorPosition = inputElement.value.length;
      inputElement.type = 'text';
      inputElement.setSelectionRange(newCursorPosition, newCursorPosition);
      inputElement.type = 'number';
    }
	}
  function truncateNumber(value, decimalPlaces) {
    const valueAsString = value.toString();
    const pointIndex = valueAsString.indexOf('.');
    if (pointIndex === -1) {
        return Number(valueAsString); // No decimal point
    }
    if (decimalPlaces <= 0 && pointIndex === 0) {
        return Number(valueAsString.slice(0, pointIndex)); // Truncate all decimal places
    }
    const truncationIndex = pointIndex + 1 + decimalPlaces;
    const truncatedValue = valueAsString.slice(0, truncationIndex);
    return Number(truncatedValue);
}
</script>
{% endblock %}




