{% extends "basic.html" %}
{% block content %}
<div class="row mb-4">
  <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <a href="https://rvn.cryptoscope.io/address/?address={{ wallet.address }}", target='_blank'>
        <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
          <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-less-drastic-reverse shadow-drastic{% endif %} text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">wallet</i>
          </div>
          <div class="text-end pt-1">
            <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Wallet</h4>
          </div>
          <div class="text-center pt-1">
            <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">{{ wallet.showBalance() }}</h4>
            <p class="text-sm mb-0 text-capitalize {% if darkmode %}dark-colors{% endif %}">SATS</p>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-1">
          <p class="mb-0 {% if darkmode %}dark-colors{% endif %}" style="text-align:center;"><span class="text-success text-sm font-weight-bolder">{{ wallet.showBalance(True) }} </span>Ravencoin</p>
        </div>
        <hr class="dark horizontal my-0">
        <center>
          {{image|safe}}
          <br/>
          {{ wallet.address }}
          <p class="text-sm mb-3 {% if darkmode %}dark-colors{% endif %}">wallet address</p>
        </center>
      </a>
      <hr class="dark horizontal my-3">
      <center>
        <p id="show" class="danger text-sm mb-2 {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('sensitive').style.display='block';document.getElementById('show').style.display='none';">
          show Private Key
        </p>
        <div id="sensitive" style="display: none;">
          <p class="text-sm mb-2 {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('show').style.display='block';document.getElementById('sensitive').style.display='none';">hide Private Key</p>
          {{ wallet.privateKey }}
        </div>
      </center>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-less-drastic-reverse shadow-drastic{% endif %} text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">send</i>
        </div>
        <div class="text-end pt-1">
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Send</h4>
        </div>
        <div class="text-center pt-1" style="padding-top: 12rem !important;padding-bottom: 10rem !important;">
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">coming soon</h4>
          <p class="text-sm mb-0 "></p>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-1">
        <center><p class="mb-1 {% if darkmode %}dark-colors{% endif %}"><span class="text-success text-sm font-weight-bolder"></span>In the meantime, to send Satori tokens, please download and import your private key into a <a href='https://ravencoin.org/wallet/' target='_blank'>Ravencoin wallet</a> such as <a href='https://moontree.com/'>Moontree</a></p></center>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">Transactions</h6>
            <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Transaction history for this wallet
            </p>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive" style="padding-left:1rem;padding-right:1rem;">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 {% if darkmode %}dark-colors{% endif %}">Id</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 {% if darkmode %}dark-colors{% endif %}">Confirmations</th>
              <!--<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sent</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Received</th>-->
              </tr>
            </thead>
            <tbody>
              {% for transaction in wallet.transactions %}
              <tr class='yellow-hover'>
                <td>
                  <a href="https://rvn.cryptoscope.io/tx/?txid={{ transaction.txid }}", target='_blank'>
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">{{ transaction.txid }}</h6>
                    </div>
                  </a>
                </td>
                <td>
                  <a href="https://rvn.cryptoscope.io/tx/?txid={{ transaction.txid }}", target='_blank'>
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">{{ transaction.confirmations }}</h6>
                    </div>
                  </a>
                </td>
              <!--    <td>
                    {% for name, value in transaction.received.items() %}
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm">{{ name }}: {{ value }}</h6>
                    </div>
                    {% endfor %}
                  </td>
                  <td>
                    {% for name, value in transaction.sent.items() %}
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm">{{ name }}: {{ value }}</h6>
                    </div>
                    {% endfor %}
                  </td>-->
                </tr> 
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-12 col-12">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">About Satori Token</h6>
            <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Satori Tokens are currently an asset on the Ravencoin network. Once Satori is fully decentralized the existing tokens on the Ravencoin network will be fully converted to the native Satori chain. Below are stats about Satori pulled from the Ravencoin blockchain:
            </p>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <p class="text-md mb-0 {% if darkmode %}dark-colors{% endif %}" style='padding: 1.5rem;'>
          <pre>{{ wallet.showStats() }}</pre>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-12 col-12">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">About Electrumx</h6>
            <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Ravencoin blockchain data is retrieved through Electrumx. Below is information about the specific Electrumx server used to retrieve wallet information:
            </p>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <p class="text-md mb-0 {% if darkmode %}dark-colors{% endif %}"  style='padding: 1.5rem;'>
          <code>
          {{ wallet.banner }}
          </code>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}




