{% extends "basic.html" %}
{% block content %}
<div class="row mb-4">
  <div class="col-xl-6 col-sm-6 mb-xl-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <a href="https://rvn.cryptoscope.io/address/?address={{ wallet.address }}", target='_blank'>
        <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
          <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-less-drastic-reverse shadow-drastic{% endif %} text-center border-radius-xl mt-n4 position-absolute">
            <i class="material-icons opacity-10">wallet</i>
          </div>
          <div class="text-end pt-1">
            <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Wallet</h4>
          </div>
          <div class="text-center pt-1">
            <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">{{ wallet.balanceAmount }}</h4>
            <p class="text-sm mb-0 text-capitalize {% if darkmode %}dark-colors{% endif %}">SATORI</p>
          </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-1">
          <p class="mb-0 {% if darkmode %}dark-colors{% endif %}" style="text-align:center;"><span class="font-weight-normal">{{ wallet.currencyAmount }} </span>{{ wallet.chain }}</p>
        </div>
        <hr class="dark horizontal my-0">
        <center>
          {{image|safe}}
        </center>
      </a>
      <center>
        <br/>
        {{ wallet.address }}
        <p class="text-sm mb-3 {% if darkmode %}dark-colors{% endif %}">wallet address</p>
      </center>
      <hr class="dark horizontal my-3">
      <center>
        <p id="show" class="danger text-sm mb-2 {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('sensitive').style.display='block';document.getElementById('show').style.display='none';">
          show Private Key
        </p>
        <div id="sensitive" style="display: none;">
          <p class="text-sm mb-2 {% if darkmode %}dark-colors{% endif %}" onclick="document.getElementById('show').style.display='block';document.getElementById('sensitive').style.display='none';">hide Private Key</p>
          {{ wallet.privateKey }}
        </div>
      </center>
    </div>
  </div>
  <div class="col-xl-6 col-sm-6">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        <div class="icon icon-lg icon-shape {% if darkmode %}bg-gradient-lightpurple-drastic{%else%}bg-gradient-less-drastic-reverse shadow-drastic{% endif %} text-center border-radius-xl mt-n4 position-absolute">
          <i class="material-icons opacity-10">send</i>
        </div>
        <div class="text-end pt-1">
          <!--<h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}">Send</h4>-->
        </div>
        <div class="text-center pt-1" style="padding-top: 4.24rem !important;padding-bottom: 2.64rem !important;">
          
          <h4 class="mb-0 {% if darkmode %}dark-colors{% endif %}" style="padding-bottom: 2rem !important;">Send Satori</h4>
            <div style="padding: 1.25rem;">
              <form action="/send_satori_transaction" method="POST">
                {{ sendSatoriTransaction.hidden_tag() }}
                {{ sendSatoriTransaction.csrf_token }}
                <div class="tight text-format-table-header" style="text-align: left;">
                  {% if darkmode %}{{ sendSatoriTransaction.address.label(class="dark-colors tight-label") }}
                  {% else %}{{ sendSatoriTransaction.address.label(class="tight-label") }}
                  {% endif %}
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 1.5rem;">
                  <div class="input-group input-group-outline">
                    {% if darkmode %}{{ sendSatoriTransaction.address(size=32, class_="tight form-control dark-colors", placeholder=wallet.address) }}
                    {% else %}{{ sendSatoriTransaction.address(size=32, class_="tight form-control", placeholder=wallet.address) }}
                    {% endif %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-sm-6">
                    <div class="tight text-format-table-header" style="text-align: left;">
                      {% if darkmode %}{{ sendSatoriTransaction.amount.label(class="dark-colors tight-label") }}
                      {% else %}{{ sendSatoriTransaction.amount.label(class="tight-label") }}
                      {% endif %}
                    </div>
                    <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 4rem;">
                      <div class="input-group input-group-outline">
                        {% if darkmode %}{{ sendSatoriTransaction.amount(size=32, class_="tight form-control dark-colors", placeholder=wallet.balanceAmount) }}
                        {% else %}{{ sendSatoriTransaction.amount(size=32, class_="tight form-control", placeholder=wallet.balanceAmount) }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-6 col-sm-6 ">
                    <div class="tight text-format-table-header" style="text-align: left;">
                      {% if darkmode %}{{ sendSatoriTransaction.sweep.label(class="dark-colors tight-label") }}
                      {% else %}{{ sendSatoriTransaction.sweep.label(class="tight-label") }}
                      {% endif %}
                    </div>
                    <div class="d-flex px-3 py-1" style="padding: 1px !important; margin-bottom: 4rem;">
                      <div class="input-group input-group-outline">
                        {% if darkmode %}{{ sendSatoriTransaction.sweep(size=32, class_="tight dark-colors", style="height: 36px;width: 36px;opacity: .4;margin-left: 6px;", onClick="sweepEverything();") }}
                        {% else %}{{ sendSatoriTransaction.sweep(size=32, class_="tight", style="height: 36px;width: 36px;opacity: .4;margin-left: 6px;", onClick="sweepEverything();") }}
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex px-3 py-1" style="padding: 1px !important; height: 75px;">
                  <div class="input-group input-group-outline" onclick="">
                    {% if darkmode %}{{ sendSatoriTransaction.submit(size=32, class_="tight form-control dark-colors", onclick="if(validateJs()) showWorking();") }}
                    {% else %}{{ sendSatoriTransaction.submit(size=32, class_="tight form-control", onclick="if(validateJs()) showWorking();") }}
                    {% endif %}
                  </div>
                </div>
              </form>
            </div>
        </div>
      </div>
      <hr class="dark horizontal my-0">
      <div class="card-footer p-1">
        <center><p class="mb-1 {% if darkmode %}dark-colors{% endif %}" style="margin-left:1rem; margin-right:1rem;"><span class="text-success text-sm font-weight-bolder"></span>
          Transaction fees will be added during the send process. For more details and control download and import your private key into a full-featured wallet such as <a href='https://moontree.com/'>Moontree</a></p></center>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-6 col-7">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">Transaction History</h6>
            <!--<p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Transaction history for this wallet
            </p>-->
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <div class="table-responsive" style="padding-left:1rem;padding-right:1rem;">
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 {% if darkmode %}dark-colors{% endif %}">Transaction Id</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in wallet.transactionHistory %}
              <tr class='yellow-hover'>
                <td>
                  <a href="https://rvn.cryptoscope.io/tx/?txid={{ transaction.tx_hash }}", target='_blank'>
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">{{ transaction.tx_hash }}</h6>
                    </div>
                  </a>
                </td>
              </tr> 
              {% endfor %}
            </tbody>
          </table>

          <!--<table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 {% if darkmode %}dark-colors{% endif %}">Id</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 {% if darkmode %}dark-colors{% endif %}">Confirmations</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sent</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Received</th>
              </tr>
            </thead>
            <tbody>
              {% for transaction in wallet.transactions %}
              <tr class='yellow-hover'>
                <td>
                  <a href="https://rvn.cryptoscope.io/tx/?txid={{ transaction.txid }}", target='_blank'>
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">{{ transaction.txid }}</h6>
                    </div>
                  </a>
                </td>
                <td>
                  <a href="https://rvn.cryptoscope.io/tx/?txid={{ transaction.txid }}", target='_blank'>
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm {% if darkmode %}dark-text{% endif %}">{{ transaction.confirmations }}</h6>
                    </div>
                  </a>
                </td>
              <td>
                    {% for name, value in transaction.received.items() %}
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm">{{ name }}: {{ value }}</h6>
                    </div>
                    {% endfor %}
                  </td>
                  <td>
                    {% for name, value in transaction.sent.items() %}
                    <div class="d-flex px-3 py-1">
                      <h6 class="mb-0 text-sm">{{ name }}: {{ value }}</h6>
                    </div>
                    {% endfor %}
                  </td>
                </tr> 
              {% endfor %}
            </tbody>
          </table>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-12 col-12">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">About Satori Token</h6>
            <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              Satori Tokens are an asset on a public blockchain. Below are stats about Satori according to the blockchain:
            </p>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <p class="text-md mb-0 {% if darkmode %}dark-colors{% endif %}">
          <pre>{{ wallet.showStats() }}</pre>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4">
  <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
    <div class="card {% if darkmode %}dark-colors{% endif %}">
      <div class="card-header pb-0 {% if darkmode %}dark-colors{% endif %}">
        <div class="row">
          <div class="col-lg-12 col-12">
            <h6 class="{% if darkmode %}dark-colors{% endif %}">About Electrumx</h6>
            <p class="text-sm mb-0 {% if darkmode %}dark-colors{% endif %}">
              {{ wallet.chain }} blockchain data is retrieved through Electrumx. Below is information about the specific Electrumx server used to retrieve wallet information:
            </p>
          </div>
        </div>
      </div>
      <div class="card-body px-0 pb-2">
        <p class="text-md mb-0 {% if darkmode %}dark-colors{% endif %}"  style='padding-left: 1.5rem; padding-bottom: 1.5rem;'>
          <code>
          {{ wallet.banner }}
          </code>
        </p>
      </div>
    </div>
  </div>
</div>
<script>
	function validateJs() {
		return (
			document.getElementById("address").value != "" && 
			document.getElementById("amount").value > 0
      );
	}
  function sweepEverything() {
    if (document.getElementById('sweep').checked) {
      document.getElementById('amount').style.display = 'none';
    } else {
      document.getElementById('amount').style.display = '';
    }
	}
</script>
{% endblock %}




