{% block content %}
  <div class="row">
    <div class="col-xl-12 col-sm-12 mb-xl-0">
      <div class="card {% if darkmode %}dark-colors{% endif %}">
        <div class="card-header p-3 pt-2 {% if darkmode %}dark-colors{% endif %}">
        </div>
        <div class="row mb-4">
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <center>
              <p class="mb-1 {% if darkmode %}dark-colors{% endif %}", style="padding-top: .25rem;">
                NFTS
              </p>
            <center>
          </div>
          <div class="col-xl-6 col-sm-6 mb-xl-0">
            <h6 class="mb-0 text-sm  {% if darkmode %}dark-text{% endif %}">
              <div class="d-flex px-3 py-1" style="padding-right: 1rem; margin-left:auto; margin-right: auto;">
                icon - QmevV2V2mDLThgyRrkC6DV6MyRPWBgRy2Vy3BrfUvLEMBF
                beta - ...
                stake - ...
              </div>
            </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
