<!-- Favicons-->
<link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/apple-icon.png') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.ico') }}">
<!--     Fonts and icons     
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:wght@300&family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
<!-- Nucleo Icons -->
<link href="{{ url_for('static', filename='css/nucleo-icons.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/nucleo-svg.css') }}" rel="stylesheet" />
<!-- Font Awesome Icons -->
<script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
<!-- Material Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
<!-- CSS Files -->
<link id="pagestyle" href="{{ url_for('static', filename='css/material-dashboard.css') }}" rel="stylesheet" />
<!-- Custome CSS -->
<link href="{{ url_for('static', filename='css/custom.css') }}" type="text/css" rel="stylesheet">
